<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2015layout">

	<body id='travel'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Travel</h1>
					<div id='location-badge'>
						<p>
							<a href='http://www.omnihotels.com/hotels/dallas/meetings/spring-one-2gx' target='_blank'></a>
						</p>
					</div>
					<h3>
					Parking for the Marriott Marquis Washington, DC
					</h3>
					<p>Valet parking $45 daily plus tax. In/out privileges. Limited space available.</p>
					<br/>
					<h3>Other Transportation</h3>
					<p>Subway Station: Gallery Place/ Chinatown (Red Line) 0.5 miles SE or Mt. Vernon Square 7th St./ Convention Ctr (Green &amp; Yellow Lines) 0.1 miles E</p>
					<p>Train Station: Union Station 1.4 miles SE</p>
					<p>Car Rentals: Hertz (202)-842-1541</p>
					<p>
					For area airports and more information click
					<a href='http://www.marriott.com/hotels/travel/wasco-marriott-marquis-washington-dc/' target='_blank'>here.</a>
					</p>
					<br/>
					<h3>Rooms</h3>
					<p>The sleeping room rate is $299/night.</p>
					<div id='contact-button'>
						<a href='http://www.marriott.com/hotels/travel/wasco-marriott-marquis-washington-dc/' target='_blank'>Book a Room</a>
					</div>
					<iframe frameborder='0' height='450' src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3104.9037190318595!2d-77.024915!3d38.903317!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7931d95b707%3A0x16e85cf5a8a5fdce!2sMarriott+Marquis+Washington%2C+DC!5e0!3m2!1sen!2sus!4v1425072725328' style='border:0' width='600'></iframe>
				</div>
			</div>
		</div>
	</body>
</html>
