<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2015layout">

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Pre-Conference Training</h1>
					<div class='training'>
						<p>
						Pivotal Education is offering accelerated, hands-on training workshops prior to the SpringOne 2GX conference. Sessions are scheduled for the two days before the conference begins (September 13-14) and provide students with an opportunity to receive in-depth training on some of the latest Pivotal technologies.
						</p>
						<p>
						<u>What's in it for me</u>
						<ul>
						<li>Hands-on, interactive Pivotal training content delivered at an accelerated rate and lower cost</li>
						<li>Opportunity to network with expert instructors and technology enthusiasts</li>
						<li>Ability to save valuable time and money by adding training to your SpringOne 2GX registration</li>
						<li>Expanded SpringOne 2GX experience</li>
						</ul>
						</p>
						<p>
						<u>When</u>
						<br/>
						<br/>
						Sunday, September 13 - Monday, September 14
						<br/>
						Courses run from 9 a.m. - 5 p.m. both days. Sessions will not overlap with any conference activities.
						</p>
						<p>
						<u>Pricing &amp; Registration</u>
						<ul>
						<li>Training workshops are $400 per student</li>
						<li>Price includes 2-day training workshop and $50 gift card (to be allocated for breakfast, lunch and breaks during the 2 days)</li>
						<li>Your preferred workshop can be selected during registration for SpringOne 2GX.  Space is limited.</li>
						</ul>
						</p>
						<p>
						Please
						<a href='mailto:education@pivotal.io'>email the education team</a>
						with any questions.
						</p>
						<hr/>
						<p>COURSES</p>
						<h3>
						Developing Applications with Cloud Foundry (SOLD OUT)
						</h3>
						<p>
						<u>Course Description</u>
						<br/>
						This 2-day workshop is designed for application developers responsible for working with and deploying deploy Java/Spring applications on Cloud Foundry. Students will gain familiarity in CF concepts (applications, buildpacks, manifests, organizations, spaces, users, roles, domains, routes, services), how to push applications to CF (various languages), services, user provided services, manifests, YAML, environment variables, autoconfiguration, logging and loggregator, VCAP_SERVICES and VCAP_APPLICATION.
						<br/>
						<ul>
						<u>In this course, students will receive:</u>
						<li>Hands-on experience using Pivotal Web Services, the local command line interface, and the STS CF plugin.</li>
						<li>Hands-on experience in pushing apps to CF, accessing logs, scaling.</li>
						<li>An understanding of the marketplace services and experience with one or more examples.</li>
						<li>An understanding of Spring application development in the cloud, such as</li>
						<ul>
						<li>Auto-configuration and Spring Cloud.</li>
						<li>An introduction on internal Cloud Foundry architecture such as BOSH, health manager, cloud controller, DEAs.</li>
						</ul>
						</ul>
						This course does not teach topics related to installation and administration of the Pivotal CF environment itself.
						</p>
						<ul>
						<u>Workshop Topics</u>
						<li>Overview of CF</li>
						<li>Getting Started using STS</li>
						<li>CF concepts</li>
						<li>Getting Started using CLI</li>
						<li>Development (logging, debugging, environment variables, manifests)</li>
						<li>Services</li>
						<li>Buildpacks</li>
						<li>CF Internals (Health Manager, Cloud Controller, etc.)</li>
						<li>Spring Cloud, Autoconfiguration</li>
						</ul>
						<br/>
						<ul>
						<u>Prerequisites</u>
						<li>Java / Spring development knowledge.</li>
						<li>Basic IT / computer science knowledge, high-level familiarity with web application architecture, from either a developer or administrator’s perspective.</li>
						</ul>
						<br/>
						<ul>
						<u>Hardware / Software Requirements</u>
						<li>
						To participate in this workshop, each participant must bring their own laptop (Windows, Mac, or Linux) able to run Spring Tool Suite.
						</li>
						<li>
						Students will need to download and install:
						<ul>
						<li>
						<a href='http://spring.io/tools'>Spring Tool Suite</a>
						</li>
						<li>
						<a href='https://github.com/cloudfoundry/cli'>Cloud Foundry CLI</a>
						</li>
						<li>
						Students will download lab files from GitHub. A github account is recommended but not required.
						</li>
						</ul>
						</li>
						<br/>
						<h3>Spring XD</h3>
						<p>
						<u>Course Description</u>
						<br/>
						This 2-day workshop is designed for developers and architects responsible for leveraging Spring XD for data ingestion in a Big Data environment. Through hands-on labs, the course explores installation and administration of Spring XD, usage of the Spring XD Shell, creating, configuring, deploying, and scaling streams and jobs and the development of custom modules. Students will learn how to configure the product for various deployment scenarios, including high availability and distributed mode.
						<ul>
						<u>In this course, students will:</u>
						<li>
						Install Spring XD
						</li>
						<li>
						Understand Spring XD architecture
						</li>
						<li>
						Create and leverage Spring XD Streams
						</li>
						<li>
						Create and leverage Spring XD Jobs
						</li>
						<li>
						Customize Spring XD modules
						</li>
						<li>
						Configure Spring XD for high-availability
						</li>
						<li>
						Use management and monitoring features of Spring XD
						</li>
						</ul>
						<br/>
						<ul>
						<u>Workshop Topics</u>
						<li>
						Introduction to Spring XD
						</li>
						<li>
						Installation
						</li>
						<li>
						Architecture
						</li>
						<li>
						Introduction to Streams
						</li>
						<li>
						Customizing Stream Modules
						</li>
						<li>
						Introduction to Jobs
						</li>
						<li>
						Customizing Job Modules
						</li>
						<li>
						Distributed Mode
						</li>
						<li>
						High Availability
						</li>
						</ul>
						<br/>
						<ul>
						<u>Prerequisites</u>
						<li>
						Basic Java development skills, including ability to run Apache Maven commands
						</li>
						<li>
						Some familiarity with various data storage technologies
						</li>
						<li>
						Familiarity with running basic OS commands from a shell/command-prompt
						</li>
						</ul>
						<br/>
						<ul>
						<u>Hardware / Software Requirements</u>
						<li>
						To participate in this workshop, each participant must bring their own laptop (Windows, Mac, or Linux).
						</li>
						<li>
						Students will need to download and install:
						<ul>
						<li>
						<a href='http://goo.gl/wAhibA'>JDK 7 or later</a>
						</li>
						<li>
						<a href='http://maven.apache.org/download.cgi'>Apache Maven</a>
						</li>
						<li>
						One of:
						<ul>
						<li>
						<a href='http://goo.gl/6xAqK6'>A running instance of the Pivotal HD single-node VM</a>
						</li>
						<li>
						<a href='http://goo.gl/voGxJP'>A running instance of Apache Hadoop single-node cluster</a>
						</li>
						</ul>
						</li>
						</ul>
						</li>
						</ul>
						</p>
						<h3>Building the Connected Car</h3>
						<p>
						<u>Course Description</u>
						<br/>
						At the 2014 SpringOne conference, attendees were introduced to the Connected Car, a demonstration of a solution built with Spring and Pivotal products aimed at the Internet of Things. In this all-new 2-day workshop, attendees will walk through the architectural components of the Connected Car and receive hands-on experience building various parts of the architecture. At the end of the workshop, attendees will have an understanding of where various technologies fit architecturally as well as a basic understanding of how to implement those technologies in a solution.
						<ul>
						<u>In this course, students will:</u>
						<li>
						Set up a Spring XD Stream and transforms to process the raw data
						</li>
						<li>
						Set up GemFire to receive real-time data from the stream
						</li>
						<li>
						Land data in HDFS for analytic processing
						</li>
						<li>
						Explore and write analytics using Spark
						</li>
						<li>
						Explore and write analytics using HAWQ
						</li>
						</ul>
						<br/>
						<ul>
						<u>Workshop Topics</u>
						<li>
						Introduction to the Connected Car
						</li>
						<li>
						Overview of Spring XD
						</li>
						<li>
						Defining Spring XD streams
						</li>
						<li>
						Introduction to Pivotal GemFire
						</li>
						<li>
						Overview of Spark
						</li>
						<li>
						Performing analytics with Spark
						</li>
						<li>
						Overview of Pivotal HAWQ
						</li>
						<li>
						Performing analytics with HAWQ
						</li>
						</ul>
						<br/>
						<ul>
						<u>Prerequisites</u>
						<li>
						Basic Java development skills and understanding of Hadoop
						</li>
						<li>
						Some familiarity with various data storage technologies
						</li>
						<li>
						Familiarity with running basic OS commands from a shell/command-prompt
						</li>
						</ul>
						<br/>
						<ul>
						<u>Hardware / Software Requirements</u>
						<li>
						To participate in this workshop, each participant must bring their own laptop (Windows, Mac, or Linux).
						</li>
						<li>
						Students will need to download and install a virtual machine that can run in VMWare Player or Virtual Box.
						</li>
						</ul>
						</p>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>