<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2015layout">

	<body>

    <div layout:fragment="content">
			<div class='hero'>
				<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/SpringOne-Banner.png'></img>
			</div>
			<div class='content'>
				<div class='container'>
					<div class='content-wrap'>
						<div class='index'>
							<h1>Join us for SpringOne 2GX 2015</h1>
							<p>
							This is a one-of-a-kind conference for application developers, solution and data architects: people who develop business applications, create multi-device aware web applications, process vast quantities of enterprise data, design cloud architectures, and manage high performance infrastructure. The sessions are specifically tailored for Developers and Architects using the popular open source Spring IO Projects, Groovy &amp; Grails, Cloud Foundry, RabbitMQ, Redis, Geode, Hadoop and Tomcat technologies. Whether you're building mission-critical web or business applications, crunching huge amounts of distributed data, or designing the next killer cloud application, SpringOne2GX will keep you up to date with the latest enterprise technology.
							<br/>
							</p>
							<div class='button-container'>
								<div id='register-button'>
									<a href='https://2015.event.springone2gx.com/register'>Register</a>
								</div>
								<div id='contact-button'>
									<a href='https://2014.event.springone2gx.com/schedule/2014-09-09'>2014 Slides</a>
								</div>
							</div>
							<img alt='Marriott Marquis in Washington DC' class='big-venue' src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/venue-big-circle.png'></img>
							<h2>Marriott Marquis &middot; Washington, DC</h2>
							<div class='featured-speakers'>
								<h1>Featured Speakers</h1>
								<div class='speaker-images'>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Mark Fisher</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Oliver Gierke</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Juergen Hoeller</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Guillaume Laforge</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Mark Pollack</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Dave Syer</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Venkat Subramaniam</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Cornelia Davis</h4>
									</div>
									<div class='speaker'>
										<div class='circle'></div>
										<h4>Paul King</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>