<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2016layout">
    <head>
    	<title>Code of Conduct | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>
	<body id='codeofconduct'>

    <div layout:fragment="content">
      <div class='container'>
        <div class='content'>
					<h1>Code of Conduct</h1>
					<p>
						Please read the anti-harassment policy and code of conduct following the important contact information:
					</p>
					<ul>
						<li>
							Email address for organizers:
							<a href='mailto:platform@pivotal.io'>platform@pivotal.io</a>
						</li>
						<li>
							Local law enforcement: City of Las Vegas Police - call 911
						</li>
						<li>
							<a href='http://www.therapecrisiscenter.org/'>Community Action Against Rape</a>
							24 hour hotline: (702) 366-1640
						</li>
						<li>
							Medical Emergency: Call 911
						</li>
					</ul>
					<p>
						At Pivotal, we assume that most people are intelligent and well-intended, and we're not inclined to tell people what to do. However, we've recently come to see that sometimes it's necessary to spell out the behavior we support and don't support at conferences. The core of our approach is this: we will do whatever we believe is necessary to ensure that an Pivotal conference is a safe and productive environment for everyone.
					</p>
					<p>
						At Pivotal, we take issues of sexual harassment at technical conferences very seriously. We acknowledge that this is a real, long-standing issue in the technical community. Let us be clear: we don't condone harassment or offensive behavior, at our conferences or anywhere. It's counter to our company values. More importantly, it's counter to our values as human beings.
					</p>
					<p>
						We're voicing our strong, unequivocal support of appropriate behavior by all participants at technical events, including all Pivotal conferences. We invite you to help us make each Pivotal conference a place that is welcoming and respectful to all participants, so everyone can focus on the conference itself, and the great networking and community richness that can happen when we get together in person.
					</p>
					<p>
						Let's also be clear that sexual or racist comments or images in slides are not appropriate. Speakers and exhibitors should use good judgment; if we hear complaints and we think they are warranted, you may not be invited back.
					</p>
					<p>
						No one should have to put up with stalking, offensive comments, and unwanted sexual advances. If we hear of complaints, we will investigate and take any action we feel is appropriate, including asking you to leave.
					</p>
					<p>
						Please bring any concerns to the immediate attention of the event staff, or by clicking the contact link. We thank our attendees for their help in keeping the event welcoming, respectful, and friendly to all participants.
					</p>
				</div>
			</div>
    </div>
	</body>
</html>