<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2016layout">
    <head>
    	<title>Call for Proposals | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='cfp'>

    <div layout:fragment="content">
      <div class='container'>
        <div class='content'>
					<h1>Call for Proposals</h1>
					<h2>
						Important Dates
					</h2>
					<p>
						Call for Participation opens: February 8, 2016
						<br/>
						Call for Participation closes: March 31, 2016
					</p>
					<p>
						SpringOne Platform brings together the people, process and tools for delivering and operating software services. Learn and share with the startups and enterprises leveraging modern Java with Spring connecting all the pieces of the modern software puzzle from developer, operator, architect, data scientist to executive. SpringOne Platform wants your stories about application development, continuous delivery, devops, microservices, agile, design, big data, and data science. Share how you are transforming the world with software.
					</p>
					<h2>
						Proposals will be considered for the following types of presentations
					</h2>
					<ul>
						<li>30 min sessions</li>
						<li>60 min sessions</li>
						<li>90 minute technical deep dive</li>
					</ul>
					<h2>
						Topics
					</h2>
					<ul>
						<li>
						Core Spring (Security, Tools, Framework)
						</li>
						<li>
						Web &amp; JavaScript
						</li>
						<li>
						Databases
						</li>
						<li>
						Big Data
						</li>
						<li>
						Stream Processing
						</li>
						<li>
						Integration &amp; Messaging
						</li>
						<li>
						Cloud Native Architecture
						</li>
						<li>
						Microservices
						</li>
						<li>
						Continuous Delivery
						</li>
						<li>
						Devops
						</li>
						<li>
						Agile
						</li>
						<li>
						Transformation
						</li>
					</ul>
					<h2>
						Tips for Successful Proposals
					</h2>
					<p>
						Help us understand why your presentation is the right one for SpringOne Platform. Below are some tips for writing a successful proposal. Please keep in mind that this event is by and for professionals. Our participants expect that all presentations and supporting materials will be respectful, inclusive, and adhere to our <a href='/code-of-conduct'>Code of Conduct</a>.
					</p>
					<ul>
						<li>
						Does your presentation have the participation of a woman, person of color, or member of another group often underrepresented at tech conferences? Diversity is one of the factors we seriously consider when reviewing proposals as we seek to broaden our speaker roster.
						</li>
						<li>
						Keep the audience in mind: they’re professional, and already pretty smart. How does your talk relate to the show topics?
						</li>
						<li>
						Be authentic. Your peers need original ideas in real-world scenarios, relevant examples, and knowledge transfer.
						</li>
						<li>
						Include as much detail about the presentation as possible.
						</li>
						<li>
						Keep proposals free of marketing and sales.
						</li>
						<li>
						Context is important. If your talk is about something truly ground-breaking, it’ll be helpful if you describe it in terms of things that attendees might already know of.
						</li>
						<li>
						Explain why people will want to attend: is your topic gaining traction? Is it critical to business? Will attendees learn how to use it, program it, or just what it is?
						</li>
						<li>
						Repeated talks from the conference circuit are less likely to be appealing. If you speak at a lot of events, be sure to note why this presentation is different.
						</li>
						<li>
						Don’t assume that your company’s name buys you credibility. If you’re talking about something important that you have specific knowledge of because of what your company does, spell that out in the description.
						</li>
						<li>
						Indicate the experience and knowledge level of the audience you are targeting: novice, intermediate, or expert.
						</li>
					</ul>
					<h2>
						Other resources to help write your proposals
					</h2>
					<ul>
						<li>
						View Matthew McCullough’s presentation on <a href='http://www.youtube.com/watch?v=fJz4JJIchaY&amp;feature=youtu.be'>10 Quick Tips for More Effective Conference Submissions and Presentations</a>.
						</li>
						<li>
						View a <a href='http://www.youtube.com/watch?v=yE67bo7dmbY'>Women Who Code panel discussion</a> on preparing for and speaking at technical conferences.
						</li>
						<li>
							See examples of accepted SpringOne <a href='/2015'>Speakers and Sessions</a> and watch <a href='https://www.youtube.com/playlist?list=PLgGXSWYM2FpPuIFvbv6U_5cKLJB6PQbN4'>videos from selected sessions</a>.
						</li>
						<li>
						Download and read the free ebook,
						<a href='http://shop.oreilly.com/product/0636920027096.do'>Propose, Prepare, Present</a>.
						</li>
					</ul>
					<h2>
						Code of Conduct
					</h2>
					<p>
						We expect all participants, including speakers, to follow our <a href='/code-of-conduct'>Code of Conduct</a>, the core of which is this: SpringOne Platform should be a safe and productive environment for everyone. <a href='/code-of-conduct'>Read more »</a>
					</p>
					<h2>
						Speaker Travel Assistance Program
					</h2>
					<p>
						Speaker travel and expense will not be paid by Pivotal, however, speakers may apply for assistance when submitting a topic.  Assistance will be awarded at the discretion of the conference.
					</p>
					<br/>
					<br/>
				</div>
			</div>
    </div>
	</body>
</html>