<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2016layout">
    <head>
    	<title>OpenAPI Workshop | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='openapiworkshop'>

    <div layout:fragment="content">
			<div class='content'>
				<div id='openapiworkshopbanner'></div>
				<div class='container'>
					<div class='sixtywide'>
						<h2 class='white'>API-First Development <br/> with Apigee and Pivotal Cloud Foundry</h2>
						<h5 class='white uppercase'>Monday August 1st, 9AM&ndash;12PM &middot; Bristlecone 6</h5>
						<p class='smoothwebkit'>Join this sponsored, hands-on workshop to learn about API-first development with Pivotal Cloud Foundry (PCF) and Apigee’s API Platform.  In three hours, we'll cover the basics of creating APIs, how to monitor and secure your APIs, and finish by live-coding a production-grade API that can be seamlessly integrated into any PCF App using PCF Route Services.</p>
						<p class='smoothwebkit'>There is no additional cost for registered conference attendees and is brought to you by:</p>
						<div id='openapilogos'>
							<img class='pcflogosvg' src="https://d1fto35gcfffzn.cloudfront.net/images/products/gettingstartedwithpcf/logo-pivotal-cloud-foundry-white.svg"></img>
							<img id='apigeelogo' src="https://d1ophd2rlqbanb.cloudfront.net/logo-apigee.png"></img>
						</div>
						<p class='smoothwebkit'>
							In this course, attendees will:
						</p>
						<ul>
							<li class='smoothwebkit'>Build an API Proxy in Apigee Edge on top of a PCF app</li>
							<li class='smoothwebkit'>Add security and monitoring to an API</li>
							<li class='smoothwebkit'>Learn how to use Apigee Edge Analytics</li>
							<li class='smoothwebkit'>Learn about OpenAPI</li>
							<li class='smoothwebkit'>Use PCF Route Services to apply API management to a service running in Cloud Foundry</li>
							<li class='smoothwebkit'>Learn ways to document and provide self-service access to APIs</li>

						</ul>
						<p class='smoothwebkit'><strong>Target Audience</strong></p>
						<ul>
							<li class='smoothwebkit'>Developers and Architects who want to learn the latest best practices and tools for managing APIs</li>
						</ul>
						<p class='smoothwebkit'><strong>Pre-Requisites</strong></p>
						<ul>
							<li class='smoothwebkit'>Basic understanding of PCF commands</li>
							<li class='smoothwebkit'>Basic understanding of APIs</li>
						</ul>
						<p class='smoothwebkit'><strong>Technical Pre-Requisites</strong></p>
						<ul>
							<li class='smoothwebkit'>Laptop, preferred development tools (you will push an app/api to PCF)</li>
							<li class='smoothwebkit'><a href='https://accounts.apigee.com/accounts/sign_up' target="_blank">Apigee trial account</a></li>
							<li class='smoothwebkit'><a href='https://docs.run.pivotal.io/cf-cli/install-go-cli.html' target="_blank">cf CLI</a></li>
							<li class='smoothwebkit'>An account on a CF 1.7 environment, or we will create a CF account for you to use during the class on our environment</li>
						</ul>
					</div>
					<div class='thirtywide'>
						<p><em>This workshop is at capacity. Registering below will add you to the waitlist.</em></p>
						<h2>Register for Waitlist</h2>
						<script src="//app-sj05.marketo.com/js/forms2/js/forms2.min.js"></script>
						<form id="mktoForm_3203"></form>
						<script>
							MktoForms2.loadForm("https://app-sj05.marketo.com", "625-IUJ-009", 3203 , function(form){
								form.setValues({"Addition_Information__c_contact":"Waitlist"});
								form.onSuccess(function(values, followUpUrl){
									location.href = "/thank-you";
									form.getFormElem().hide();
									return false;
								});
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>