<html
    xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
    layout:decorator="2016layout">
    <head>
    	<title>Breakout Speaker Guidelines | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    	<meta name="robots" content="noindex, nofollow" /> 
    </head>

	<body id='speakerguidelines'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Breakout Speaker Guidelines</h1>
					<p>
					In order for you to have a great SpringOne Platform, please review the information below and bookmark this page. We will notify you if we update anything.
					</p>

					<h2>Presentation Submission</h2>
					<p>
					You must turn in the source file for your presentation immediately before or immediately after delivering your presentation - no exceptions. Digital Playhouse will have a camera operator in your session room to assist you with your microphone and provide you with a USB stick to submit your slides. You must turn in your slides to the camera operator.
					</p>

					<h2>AV Check &amp; Breakout Speaker Rehearsal</h2>
					<ul>
						<li><strong>Location:</strong> Starvine 1&amp;2, Aria Conference Center</li> 
						<li><strong>Date and Time:</strong> Monday, 8/1 at 6:00 PM</li>
					</ul>
					<p>
					There is a mandatory AV check and rehearsal on Monday, August 1st, 2016 at 6:00 PM, in Starvine 1&amp;2 at the Aria. Breakout rehearsals will follow in your respective rooms. Testing out the AV hookup and the projector's effect on your slide coloration &amp; resolution settings ahead of time is the best way to make sure your talk and its recording goes smoothly and looks good. If you can’t make that meeting time, feel free to go to the room you are presenting in for an AV check during one of the scheduled breaks. You must do an AV check before presenting your talk.
					</p>


					<h2>Deadlines</h2>
					<p>
					<strong>July 8th</strong>: <a href='https://aws.passkey.com/event/14801722/owner/1464789/home' target="_blank">Book your hotel</a>
					<br/>
					<strong>July 8th</strong>: Register using your code
					<br/>
					<strong>August 1st</strong>: Sign and return the Recording / Publication <a href='https://drive.google.com/a/pivotal.io/file/d/0B7akieR6dYsuY2c1YWd5anJBTnplaTRDQ0RaNlNaeFNpUl80/view' target="_blank">Waiver</a> (non Pivotal speakers only)
					<br/>
					<strong>August 1st-4th</strong>: Attend the AV check Monday, August 1st at 6:00 PM, Aria Las Vegas hotel (room TBD); look for a follow up email.  You can also do your AV Check during the 30-minute scheduled conference breaks, but you must do an AV check before presenting your talk.
					</p>

					<h2>Hotel</h2>
					<p>
					Guest rooms are available at a discounted rate through <strong>July 8th</strong> at the Aria, Las Vegas. To receive the discounted rate you must  book using this <a href='https://aws.passkey.com/event/14801722/owner/1464789/home' target="_blank">link</a>.  The promotional room block rate may not be available via your corporate travel portal; you must use the website link provided to book.
					</p>

					<h2>Travel</h2>
					<p>
					<strong>Airport</strong>: LAS
					<br/>
					<strong>Parking at the Aria</strong>: <a href='https://d1ophd2rlqbanb.cloudfront.net/parking-pocket-guide.pdf' target="_blank">Guide</a>
					<br/>
					<strong>Taxi</strong>: Tell the taxi driver you’d like the “cheapest route not fastest.” Specifically, if they want to take you via the highway, you'll be paying more than needed.
					<br/>
					<strong>Uber/Lyft</strong>: <a href='https://www.mccarran.com/Go/RideShare.aspx' target="_blank">Ridesharing</a> services can now also pick up from the LAS airport 
					</p>

					<h2>Registration</h2>
					<p>
					Please use the speaker code you were sent in the acceptance notice to register for your free pass.  Please contact Patrick Gillis at <a href='mailto:pgillis@pivotal.io'>pgillis@pivotal.io</a> if you did not recieve a code or have questions.
					</p>

					<h2>Agenda &amp; Schedule</h2>
					<p>
					Pivotal will notify all accepted speakers via email when the schedule is finalized.  Unless you’ve been otherwise notified, you can assume that your requested session length was approved as submitted.  If you submitted a talk indeterminate length and haven’t heard from us already, please email Patrick Gillis at <a href='mailto:pgillis@pivotal.io'>pgillis@pivotal.io</a>. 
					</p>



					<h2>Recording / Publication Waiver</h2> 
					<p>
					If you do not work for Pivotal Software Inc, please sign the required <a href='https://drive.google.com/file/d/0B7akieR6dYsuY2c1YWd5anJBTnplaTRDQ0RaNlNaeFNpUl80/view?usp=sharing'  target="_blank">recording waiver</a>, as all presentations will be recorded and published on YouTube and InfoQ.com. Please return signed waivers to Patrick Gillis at <a href='mailto:pgillis@pivotal.io'>pgillis@pivotal.io</a> before your session.  
					</p>

					<h2>Technical Requirements</h2>
					<p>
					Generally we’re assuming that your presentation will be run from your personal laptop. Most modern laptops with common presentation software tend to connect smoothly to the projectors. Laptops are connected to an external recording system, no screen capture software is used.  Machines are placed on the onstage podium; you’ll use your laptop’s display for reference while speaking. We discourage using embedded audio/video in your decks as this requires special accommodation to be recorded.  Lavalier mics are the default equipment to ensure good audio capture.
					</p>

					<h2>Presentation Specifications</h2>
					<ul>
						<li>You are asked to use our minimal, themed template for your presentation (<a href='https://drive.google.com/file/d/0B_AWspwcuNySQ0pRTEw3M1pqZlE/view?usp=sharing'  target="_blank">PPT</a>, <a href='https://drive.google.com/file/d/0B_AWspwcuNySbkE3WC1BWUF6TDA/view?usp=sharing'  target="_blank">Keynote</a> and <a href='https://drive.google.com/file/d/0B_AWspwcuNySZERmVDBCYUF5dWc/view?usp=sharing'  target="_blank">ODP</a> provided). There are also many related graphics, color palettes, and logos you might find useful. If you use something other than those programs, please ensure that you can control both aspect ratio and resolution setting so they meet specs below.</li>
						<li>
							Presentation Specs:
							<ul>
								<li>16:9 aspect ratio</li>
								<li>1280x720 is the target (But perfect 16:9 ratios may work up to 1920x1080)</li>
								<li>Bring your network dongle for hard lines at podiums </li>
								<li>We’ll communicate shortly about laptop to projector dongles</li>
							</ul>
						</li>
						<li>Contact Patrick Gillis if you need help with this at <a href='mailto:pgillis@pivotal.io'>pgillis@pivotal.io</a>.</li>
					</ul>

					<h2>Code of Conduct</h2>
					<p>
					Our event requires everyone, including speakers, to follow the <a href='/code-of-conduct'>code of conduct</a> so we can make the “conference a place that is welcoming and respectful to all participants”. Specifically, “sexual or racist comments or images in slides are not appropriate”. We require you to ensure your presentation materials and talk track are in accordance with this.
					</p>

					<h2>Visa Letter Requests</h2>
					<p>
					If you require a visa letter, please contact us at <a href='mailto:platform@pivotal.io'>platform@pivotal.io</a> immediately.
					</p>

					<h2>Promoting Your Talk</h2>
					<p>
					We greatly appreciate you speaking at SpringOne Platform 2016 and hope that you'll help us out in spreading the word about the event and your presentation. Promotion from speakers - you! - is one of the most valuable, effective ways to raise interest in your talk. 
					</p>
					<p>
					Here are some updates you could send out on social media:
					</p>
					<ul>
					<li><strong>Twitter:</strong> August 1-4  I'll be @Spring1Platform, speaking on [4 to 6 words about your talk]. Get your ticket: <a href='https://springoneplatform.io/'>https://springoneplatform.io/</a> #S1P</li>
					<li><strong>Facebook/LinkedIn:</strong> August 1 - 4 I'll be presenting a talk about [a sentence on your talk] at SpringOne Platform in Las Vegas. Get your ticket to see it live: <a href='https://springoneplatform.io/'>https://springoneplatform.io/</a> </li>
					</ul>
					<p>
					Make sure you follow us on <a href='https://twitter.com/pivotal' target="_blank">Twitter</a>, <a href='https://www.facebook.com/pivotalsoftware/' target="_blank">Facebook</a>, <a href='https://www.youtube.com/user/goPivotal' target="_blank">YouTube</a>, and <a href='https://linkedin.com/company/pivotalsoftware' target="_blank">LinkedIn</a> to get updates on the conference.
					</p>
					<p><strong>Java User Groups (JUGs):</strong><br/>
					If you are a member of a local <a href='https://java.net/projects/jugs' target="_blank">Java User Group</a> we recommend you ask their mailing list if anyone is planning to go and mention you will be speaking.  If you are looking to join your local JUG, be sure to check <a href='https://www.meetup.com/find/?allMeetups=false&amp;keywords=java+user+group&amp;radius=Infinity&amp;userFreeform=Oakland%2C+CA&amp;mcId=z94601&amp;mcName=Oakland%2C+CA&amp;sort=default'  target="_blank">meetup.com</a> for JUG listings as well as the <a href='https://java.net/projects/jugs'  target="_blank">Java.net site</a>. </p>

					<h2>Questions</h2>
					<p>
					We will be sending out final logistical details one week prior to the conference.  If you have any questions about the event or your speaking details, please do not hesitate to email Patrick at <a href='mailto:pgillis@pivotal.io'>pgillis@pivotal.io</a>.
					</p>

				</div>
			</div>
		</div>
	</body>
</html>