<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2016layout">

	<body id='index'>

    <div layout:fragment="content">
      <div class='container-main'>
				<div id="slideshow">
				  <div id='photos'>
				  	<div class='photo activephoto'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  </div>
				  <div id='slideshow-overlay'>
				  	<div id='regtext' class='container'>
					  	<h1>August 1&ndash;4, 2016 &middot; Aria, Las Vegas</h1>
					  	<div id='video'>
					  		<a href='https://www.youtube.com/watch?v=Tcjdh6yCaDQ' target='_blank'>
									<img src="https://d1ophd2rlqbanb.cloudfront.net/play-circle-white.svg"></img>
								</a>
								<p class='white'>Phil Webb, Spring Boot Lead</p>
					  	</div>
					  	<h2>SpringOne Platform was the first time a unique community of open source and enterprise developers, customers and product teams, and business leaders articulated a cohesive, opinionated approach to software development that is transforming the business landscape.</h2>
					  </div>
				  </div>
				</div>
        <div class='container'>
        	<div id="watchthekeynotes" class='center'>
        		<h1>Watch the Keynotes</h1>
        		<div id='illustrations'>
	        		<a class='quarterwide' href="https://www.youtube.com/watch?v=2lFv3qknbqQ" target='_blank'>
	        			<div class='inner'>
	        				<img class='illustration' src="https://d1ophd2rlqbanb.cloudfront.net/illustration-cornelia.svg"></img>
	        				<h3>Cornelia Davis</h3>
	        				<p>
	        					Sr. Director of Technology
	        					<br/>
	        					<span class='uppercase'>Pivotal</span>
										<br/>
										<br/>
										<span class='white'>
											<img src="https://d1ophd2rlqbanb.cloudfront.net/play-circle-white.svg"></img> 
											Watch Keynote
										</span>
									</p>
	        			</div>
	        		</a>
	        		<a class='quarterwide' href="https://www.youtube.com/watch?v=xdw_9dADM-4" target='_blank'>
	        			<div class='inner'>
	        				<img class='illustration' src="https://d1ophd2rlqbanb.cloudfront.net/illustration-onsi.svg"></img>
	        				<h3>Onsi Fakhouri</h3>
	        				<p>
	        					VP, Cloud R&amp;D
	        					<br/>
	        					<span class='uppercase'>Pivotal</span>
										<br/>
										<br/>
										<span class='white'>
											<img src="https://d1ophd2rlqbanb.cloudfront.net/play-circle-white.svg"></img> 
											Watch Keynote
										</span>
	        				</p>
	        			</div>
	        		</a>
	        		<a class='quarterwide' href="https://www.youtube.com/watch?v=WDvCIhfb6y4" target='_blank'>
	        			<div class='inner'>
	        				<img class='illustration' src="https://d1ophd2rlqbanb.cloudfront.net/illustration-brad.svg"></img>
	        				<h3>Brad Miller</h3>
	        				<p>
	        					Global Head, Digital &amp; Cloud
	        					<br/>
	        					<span class='uppercase'>Citi</span>
										<br/>
										<br/>
										<span class='white'>
											<img src="https://d1ophd2rlqbanb.cloudfront.net/play-circle-white.svg"></img> 
											Watch Keynote
										</span>
	        				</p>
	        			</div>
	        		</a>
	        		<a class='quarterwide' href="https://www.youtube.com/watch?v=BVLqBTedipA" target='_blank'>
	        			<div class='inner'>
	        				<img class='illustration' src="https://d1ophd2rlqbanb.cloudfront.net/illustration-juergen.svg"></img>
	        				<h3>Juergen Hoeller</h3>
	        				<p>
	        					Spring Framework Lead
	        					<br/>
	        					<span class='uppercase'>Pivotal</span>
										<br/>
										<br/>
										<span class='white'>
											<img src="https://d1ophd2rlqbanb.cloudfront.net/play-circle-white.svg"></img> 
											Watch Keynote
										</span>
	        				</p>
	        			</div>
	        		</a>
        		</div>
        		<div id='adriankeynote'>
        			<a href="https://www.youtube.com/watch?v=DGK6jjamzfY" target='_blank'>
	        			<div class='inner'>
									<div id="adriantext">
									  <h3 class="white">Adrian Cockcroft</h3>
									  <p class='white'>VP of Cloud Infrastructure, AWS</p>
									  <div id='adrianquote'>
									  	<span class='quotation'>&#x0201C;</span>
											<h2>Let's just do Spring Boot on Cloud Foundry... you can build stuff really quickly and get on with your life.</h2>
											<span class='quotation'>&#x0201E;</span>
									  </div>
									</div>
									<div class='bottomleft'>
										<p>
											<span class='white'>
												<img src="https://d1ophd2rlqbanb.cloudfront.net/play-circle-white.svg"></img> 
												Watch Keynote
											</span>
										</p>
									</div> 
								</div>
        			</a>
        		</div>
        		<div class="cta"><a href="/keynotes">See all Keynotes</a></div>
        	</div>
		  	</div>
			  <div id='populartalks'>
			  	<div class='container'>
			  		<div class='fifty'>
			  			<p class='uppercase white'>Top Rated Sessions</p>
			  			<div id='topratedsessions'>
			  				<div class='fifty'>
			  					<a href='https://2016.event.springoneplatform.io/presenters/ben_hale.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/hale200.jpg'></img></a>
			  					<a href='https://2016.event.springoneplatform.io/presenters/paul_harris.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/harris200.jpeg'></img></a>
			  					<a href='https://2016.event.springoneplatform.io/presenters/stephane_maldini.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/maldini200.jpg'></img></a>
			  					<h3><a class='white' href='https://2016.event.springoneplatform.io/schedule/sessions/designing_implementing_and_using_reactive_apis.html'>Designing, Implementing, and Using Reactive APIs</a> <br/><a href='https://2016.event.springoneplatform.io/presenters/ben_hale.html'>Ben Hale</a> <a href='https://2016.event.springoneplatform.io/presenters/paul_harris.html'>Paul Harris</a> <a href='https://2016.event.springoneplatform.io/presenters/stephane_maldini.html'>Stéphane Maldini</a></h3>
			  				</div>
			  				<div class='fifty'>
			  					<a href='https://2016.event.springoneplatform.io/presenters/josh_long.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/long200.jpg'></img></a>
			  					<h3><a class='white'  href='https://2016.event.springoneplatform.io/schedule/sessions/cloud_native_java.html'>Cloud Native Java</a> <br/><a href='https://2016.event.springoneplatform.io/presenters/josh_long.html'>Josh Long</a> </h3>
			  				</div>
			  				<div class='fifty'>
			  					<a href='https://2016.event.springoneplatform.io/presenters/colin_humphreys.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/chumphreys200.jpg'></img></a>
			  					<h3><a class='white'  href='https://2016.event.springoneplatform.io/schedule/sessions/bosh_twenty_years_of_deployment_lessons_in_one_tool.html'>BOSH - Twenty Years of Deployment Lessons in One Tool</a> <br/><a href='https://2016.event.springoneplatform.io/presenters/colin_humphreys.html'>Colin Humphreys</a> </h3>
			  				</div>
			  				<div class='fifty'>
			  					<a href='https://2016.event.springoneplatform.io/presenters/kevin_hoffman.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/hoffman200.jpg'></img></a>
			  					<a href='https://2016.event.springoneplatform.io/presenters/chris_umbel.html'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/umbel200.jpg'></img></a>
			  					<h3><a class='white'  href='https://2016.event.springoneplatform.io/schedule/sessions/building_net_microservices.html'>Building .NET Microservices</a> <br/><a href='https://2016.event.springoneplatform.io/presenters/kevin_hoffman.html'>Kevin Hoffman</a> <br/><a href='https://2016.event.springoneplatform.io/presenters/chris_umbel.html'>Chris Umbel</a> </h3>
			  				</div>
			  			</div>
			  		</div>
			  		<div class='fifty'>
			  			<h1>4 Days, 184 Speakers</h1>
			  			<p>
			  				With some <strong>2000+</strong> attendees, <strong>163</strong> talks, <strong>184</strong> speakers, <strong>17</strong> keynotes, <strong>37</strong> sponsors, Spring, Cloud Foundry, Data, and Agile technologists shared insights, stories, and use cases on the modern software and modern practices that are fundamental to a cloud native approach to computing. 
			  			</p>
			  			<p>
								Developers learned the latest on Spring and accelerating app development at startup speeds; adopting a platform and scaling out instantly; and the practices and tools for the continuous integration and continuous delivery of software. 
							</p>
							<div class='ctas'>
								<div class='cta'>
									<a href='https://www.youtube.com/playlist?list=PLAdzTan_eSPQ1fuLSBhyB4eEZF7JQM0Mx' target='_blank'>See all Sessions</a>
								</div>
								<div class='cta'>
									<a href='https://2016.event.springoneplatform.io/presenters'>All Speakers</a>
								</div>
							</div>
			  		</div>
			  	</div>
			  </div>
			  <div id='buzz'>
			  	<div class='container'>
			  		<h1>Conference Buzz <a href='https://twitter.com/hashtag/s1p' target='_blank'>#s1p</a></h1>
			  		<div class='buzzbubbles'>
			  			<div class='thirtywide'>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<a href='https://twitter.com/@robustcloud' target='_blank'><img src='https://d1ophd2rlqbanb.cloudfront.net/buzz-carvalho.png'></img></a>
					  					<a href='https://twitter.com/@robustcloud' target='_blank'><strong>@robustcloud</strong></a>
					  					<p>Making developers lives easy &lt;- <a href='https://twitter.com/@onsijoe' target='_blank'>@onsijoe</a> doing a great job in comparing bridges w/ SW dev process <a href='https://twitter.com/hashtag/s1p' target='_blank'>#S1P</a></p>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<img id='jworkslogo' src='https://d1ophd2rlqbanb.cloudfront.net/logo-jworks-circle.png'></img>
					  					<p class='sizetwenty'>"SpringOne Platform also offered many sessions on cultural transformation and DevOps. Cultural transformation and DevOps are key to deliver meaningful solutions more quickly." <br/> <a href='https://ordina-jworks.github.io/conferences/2016/08/09/s1p.html' target='_blank'>Read the Article</a></p>
					  					<br/>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
								</div>
				  		</div>
				  		<div class='thirtywide'>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<br/>
					  					<img id='redmonklogo' src='https://d1ophd2rlqbanb.cloudfront.net/logo-redmonk.svg'></img>
					  					<p class='sizetwenty'>“SpringOne Platform was the first major vendor conference I’ve been to where the voice of the customer was the voice of the developer.” <br/> <a href='http://redmonk.com/jgovernor/2016/08/16/spring-won-platform-the-big-switch-just-happened/' target='_blank'>Read the Article</a></p>
					  					<br/>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<a href='https://twitter.com/@DaveBartoletti' target='_blank'><img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/davebartoletti-43.png'></img></a>
					  					<a href='https://twitter.com/@DaveBartoletti' target='_blank'><strong>@DaveBartoletti</strong></a>
					  					<p>RT <a href='https://twitter.com/@rseroter' target='_blank'>@rseroter</a>: Devs at Merrill like <a href='https://twitter.com/@pivotal' target='_blank'>@pivotal</a> CF because of self-service, speed. Cool to see customer footprint expanding. <a href='https://twitter.com/hashtag/s1p' target='_blank'>#s1p</a></p>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/dberkholz-43.png'></img>
					  					<a href='https://twitter.com/@dberkholz' target='_blank'><strong>@dberkholz</strong></a>
					  					<p>Nice to see some concrete customer win numbers and names in the GTM/alliances analyst session. Too often just handwaving.  <a href='https://twitter.com/hashtag/s1p' target='_blank'>#s1p</a></p>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
				  		</div>
				  		<div class='thirtywide'>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/monkchips-43.png'></img>
					  					<a href='https://twitter.com/@monkchips' target='_blank'><strong>@monkchips</strong></a>
					  					<p>"i haven't seen a bigger bang for the buck than pair programming, XP and the <a href='https://twitter.com/@pivotal' target='_blank'>@pivotal</a> way." doug safford allstate. #religion. <a href='https://twitter.com/hashtag/s1p' target='_blank'>#s1p</a></p>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<br/>
					  					<img id='infoq' src='https://d1ophd2rlqbanb.cloudfront.net/logo-infoq.svg'></img>
					  					<p class='sizetwenty'>Diversity Takes Centre Stage on First Day of the SpringOne Platform Conference <br/> <a href='https://www.infoq.com/news/2016/08/springone-diversity' target='_blank'>Read the Article</a></p>
					  					<br/>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
			  				<div class='buzzbubblecontainer'>
					  			<div class='buzzbubble'>
					  				<div class='inner'>
					  					<img class='headshotsmall' src='https://d1ophd2rlqbanb.cloudfront.net/erichknipp-43.png'></img>
					  					<a href='https://twitter.com/@erichknipp' target='_blank'><strong>@erichknipp</strong></a>
					  					<p>RT @Bluesky142: <a href='https://twitter.com/@caseywest' target='_blank'>@caseywest</a> Five stages of Cloud Native rocked! <a href='https://twitter.com/@spring1platform' target='_blank'>@spring1platform</a> #cloudnative <a href='https://twitter.com/hashtag/s1p' target='_blank'>#s1p</a></p>
					  				</div>
					  			</div>
					  			<div class='quoteend'><img src='https://d1ophd2rlqbanb.cloudfront.net/quote-bottom-outline.svg'></img></div>
					  		</div>
				  		</div>
			  		</div>
			  	</div>
			  </div>
			  <div id='recaps'>
			  	<div class='container'>
				  	<h1>Conference Recaps</h1>
				  	<div id='recapdaybubbles'>
				  		<div class='recap'>
				  			<a href='https://blog.pivotal.io/pivotal-cloud-foundry/features/springone-platform-a-movement-comes-of-age' target="_blank"><img src='https://d1ophd2rlqbanb.cloudfront.net/day1.png'></img></a>
				  		</div>
				  		<div class='recap'>
				  			<a href='https://blog.pivotal.io/pivotal-cloud-foundry/features/taking-on-the-monolith-with-people-and-tech-springone-platform-day-2' target="_blank"><img src='https://d1ophd2rlqbanb.cloudfront.net/day2.png'></img></a>
				  		</div>
				  		<div class='recap'>
				  			<a href='https://blog.pivotal.io/big-data-pivotal/features/positive-sum-software-springs-new-bounce-springone-platform-day-3' target="_blank"><img src='https://d1ophd2rlqbanb.cloudfront.net/day3.png'></img></a>
				  		</div>
				  		<div class='recap'>
				  			<a href='https://blog.pivotal.io/pivotal-cloud-foundry/features/final-call-parting-shots-from-springone-platform' target="_blank"><img src='https://d1ophd2rlqbanb.cloudfront.net/day4.png'></img></a>
				  		</div>
				  	</div>
				  </div>
			  </div>
			  <div id='photopatchwork' class='center'>
			  	<div class='cta'>
			  		<a href='https://www.facebook.com/media/set/?set=a.591148844380472.1073741848.161112704050757&amp;type=1&amp;l=8a2006d93b' target='_blank'>See all Photos</a>
			  	</div>
			  </div>
	    </div>
	  </div>
	</body>
</html>
