<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2017layout">
    <head>
    	<title>Training</title>
    </head>

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div id='hero'>
					<div class='container'>
						<h1>Pre-Conference Training at SpringOne Platform</h1>
						<h2 class='greenspan'>December 3&ndash;4, 2017</h2>
						<h3 class='gray'>Pivotal Training offers a series of hands-on, technical courses prior to SpringOne Platform. Classes are scheduled two full days before the conference and provide you and your team an opportunity to receive in-depth, lab-based training across some of the latest Pivotal technologies. </h3>
					</div>
				</div>
				<div id='course' class='container'>
					<br/>
					<p class='semibold'><a href='/training'><i class="fa fa-angle-left"></i>&nbsp;&nbsp; Back to all courses</a></p>
					<br/>
					<img id='springlogo' src='https://d1ophd2rlqbanb.cloudfront.net/2017/logo-spring-white.svg'></img>
					<h1>Spring Cloud Services</h1>
					<br/>
					<hr/>

					<h2 class='bold'>Course Description</h2>
					<p>
					This hands-on training course will show you how to leverage Spring Cloud projects to build cloud-native applications.  We'll focus on the Spring Cloud Config and Spring Cloud Netflix projects, study the concepts behind cloud-native applications, and cover these specific topics:
					</p>

					<ul>
						<li>Why build cloud-native applications?</li>
						<li>Spring Boot Overview</li>
						<li>Microservices, PaaS, and Cloud-Native Design</li>
						<li>Configuration as a Service</li>
						<li>Service Discovery with Eureka</li>
						<li>Load Balancing with Ribbon</li>
						<li>Applying Circuit Breakers in your Microservices with Hystrix</li>
					</ul>

					<h2 class='bold'>Target Audience</h2>
					<ul>
					<li>
					Software developers with an interest in learning how to construct cloud-native applications using the Spring Cloud family of projects
					</li>
					</ul>

					<h2 class='bold'>Pre-requisites</h2>
					<p>
					Basic familiarity with the following:
					</p>
					<ul>
						<li>Spring Framework</li>
						<li>Git &amp; GitHub</li>
						<li>Cloud Foundry experience a plus</li>
					</ul>

<!-- 			<h2 class='bold'>Technical Requirements</h2>
					<ul>
						<li>Java (JDK), Maven, git, curl and your favorite IDE installed</li>
						<li>Pivotal Cloud Foundry CLI installed</li>
						<li>Access to GitHub account</li>
						<li>A working Pivotal Web Services account</li>
					</ul> -->
					<br/>
					<br/>
					<hr/>
				</div>
			</div>
		</div>
	</body>
</html>