<html
    xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
    layout:decorator="2017layout">
    <head>
    	<title>Training</title>
    </head>

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div id='hero'>
					<div class='container'>
						<h1>Pre-Conference Training at SpringOne Platform</h1>
						<h2 class='greenspan'>December 3&ndash;4, 2017</h2>
						<h3 class='gray'>Pivotal Training offers a series of hands-on, technical courses prior to SpringOne Platform. Classes are scheduled two full days before the conference and provide you and your team an opportunity to receive in-depth, lab-based training across some of the latest Pivotal technologies. </h3>
					</div>
				</div>
				<div class='container'>
					<br/>
					<br/>
					<p>
					All pre-conference classes are taught by Pivotal Certified Instructors and are available exclusively to SpringOne Platform attendees. Best of all, classes cost a fraction of the price compared to traditional instructor-led training and do not overlap with the main conference sessions.
					</p>
					<h2 class='bold'>What's in it for me</h2>
					<ul>
					<li>Hands-on, interactive training delivered at accelerated rate and lower cost</li>
					<li>Lab-oriented content and expertly designed course materials that helps maximize skills retention and increase proficiency</li>
					<li>Opportunity to network with Pivotal Certified Instructors and technology enthusiasts</li>
					<li>Ability to save valuable time and money by adding training as part of your existing registration</li>
					</ul>

					<br/>
					<br/>
					<hr/>
					<br/>

					<div id='logistics'>
						<h1>Logistics</h1>
						<div class='thirtywides'>
							<div class='thirtywide'>
								<h2 class='bold'>When</h2>
								<ul>
									<li>December 3rd and 4th (all classes are two full days but do not overlap with conference activities)</li>
									<li>All courses run from 9 a.m.&ndash;5 p.m. both days</li>
								</ul>
							</div>
							<div class='thirtywide'>
								<h2 class='bold'>Expectations</h2>
								<ul>
									<li>All courses include hands-on labs and require attendees to provide their own laptop</li>
									<li>Laptops should include all necessary hardware and software already installed; A list of “technical requirements” will be provided prior to class</li>
								</ul>
							</div>
							<div class='thirtywide'>
								<h2 class='bold'>Pricing &amp; Registration</h2>
								<ul>
								<li>Training workshops start at $600 per student (increasing to $650 and then $700 as shown during conference registration)</li>
								<li>Your preferred workshop can be selected during registration for SpringOne Platform.  Space is limited.</li>
								</ul>
							</div>
						</div>
					</div>
					<br/>
					<p>
					Please
					<a href='mailto:education@pivotal.io'>email the education team</a>
					with any questions.
					</p>
					<br/>
					<br/>
					<br/>
				</div>
				<div id='courses'>
					<div class='container'>
						<h1>Courses</h1>
						<div class='thirtywides'>
							<div class='thirtywide'>
								<a class='box' href='/training/pivotal-cloud-foundry'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/2017/logo-pcf-white.svg'></img>
									<hr/>
									<h3>Pivotal Cloud Foundry</h3>
								</a>
							</div>
							<div class='thirtywide'>
								<a class='box' href='/training/spring-cloud-services'>
									<img class='springlogo' src='https://d1ophd2rlqbanb.cloudfront.net/2017/logo-spring-white.svg'></img>
									<hr/>
									<h3>Spring Cloud Services</h3>
								</a>
							</div>
							<div class='thirtywide'>
								<a class='box' href='/training/spring-boot-developer'>
									<img class='springlogo' src='https://d1ophd2rlqbanb.cloudfront.net/2017/logo-spring-white.svg'></img>
									<hr/>
									<h3>Spring Boot Developer</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>