<html
    xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
    layout:decorator="2017layout">
    <head>
    	<title>Training</title>
    </head>

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div id='hero'>
					<div class='container'>
						<h1>Pre-Conference Training at SpringOne Platform</h1>
						<h2 class='greenspan'>December 3&ndash;4, 2017</h2>
						<h3 class='gray'>Pivotal Training offers a series of hands-on, technical courses prior to SpringOne Platform. Classes are scheduled two full days before the conference and provide you and your team an opportunity to receive in-depth, lab-based training across some of the latest Pivotal technologies. </h3>
					</div>
				</div>
				<div id='course' class='container'>
					<br/>
					<p class='semibold'><a href='/training'><i class="fa fa-angle-left"></i>&nbsp;&nbsp; Back to all courses</a></p>
					<br/>
					<img id='springlogo' src='https://d1ophd2rlqbanb.cloudfront.net/2017/logo-spring-white.svg'></img>
					<h1>Spring Boot Developer</h1>
					<br/>
					<hr/>

					<h2 class='bold'>Course Description</h2>
					<p>
					The Spring Framework is the leading Enterprise Java Framework, used by millions of developers worldwide.  It encapsulates best practices, makes testing easy, and helps  developers stayed focused on application business logic, not repetitive code.
					</p>
					<p>
					Spring Boot offers a convention over configuration approach to all of Spring; where through this course you will develop a foundation for creating enterprise-ready applications by using this technology and all its enterprise ready features, from zero configuration files, faster development to easy deployment.
					</p>
					<p>
					Upon completion of this course, participants will have a solid working understanding of developing Spring Boot applications.
					</p>

					<h2 class='bold'>Workshop Topics</h2>
					<ul>
					<li>Spring Framework vs. Spring Boot</li>
					<li>Spring Boot CLI</li>
					<li>Web Development</li>
					<li>Data Access</li>
					<li>Testing</li>
					<li>Security</li>
					<li>Messaging</li>
					<li>Deployment</li>
					<li>Actuator</li>
					<li>Microservices and Cloud</li>
					<li>… and more!</li>
					</ul>

					<h2 class='bold'>Target Audience</h2>
					<p>
					Spring Framework developers looking to get familiar with the new Spring Boot technology
					</p>

					<h2 class='bold'>Pre-requisites</h2>
					<p>
					Spring Framework experience. Presumes foundational understanding of Spring.
					</p>


<!-- 			<h2 class='bold'>Technical Requirements</h2>
					<ul>
						<li>Java 1.8 installed</li>
						<li>GitHub account</li>
						<li>Maven / Gradle installed</li>
						<li>[Optional] <a href='https://run.pivotal.io'>PWS</a> account (Trial account)</li>
						<li>[Optional] <a href='https://github.com/cloudfoundry/cli#downloads'>Cloud Foundry CLI</a></li>
						<li>[Optional] <a href='https://network.pivotal.io/products/pcfdev'>PCFDev</a> installed</li>
					</ul> -->
					<br/>
					<br/>
					<hr/>
				</div>
			</div>
		</div>
	</body>
</html>