<html
    xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
    layout:decorator="2017layout">
    <head>
    	<title>Training</title>
    </head>

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div id='hero'>
					<div class='container'>
						<h1>Pre-Conference Training at SpringOne Platform</h1>
						<h2 class='greenspan'>December 3&ndash;4, 2017</h2>
						<h3 class='gray'>Pivotal Training offers a series of hands-on, technical courses prior to SpringOne Platform. Classes are scheduled two full days before the conference and provide you and your team an opportunity to receive in-depth, lab-based training across some of the latest Pivotal technologies. </h3>
					</div>
				</div>
				<div id='course' class='container'>
					<br/>
					<p class='semibold'><a href='/training'><i class="fa fa-angle-left"></i>&nbsp;&nbsp; Back to all courses</a></p>
					<br/>
					<img id='pcflogo' src='https://d1ophd2rlqbanb.cloudfront.net/2017/logo-pcf-white.svg'></img>
					<h1>Pivotal Cloud Foundry</h1>
					<br/>
					<hr/>

					<h2 class='bold'>Course Description</h2>
					<p>This 2-day workshop is designed for application developers responsible for working with and deploying deploy Java/Spring applications to Pivotal’s public Cloud Foundry instance, <a href='https://run.pivotal.io/' target="_blank">Pivotal Web Services</a> (PWS). Students will gain familiarity in CF concepts (applications, buildpacks, manifests, organizations, spaces, users, roles, domains, routes, services), how to push applications to CF (various languages), services, user provided services, manifests, YAML, environment variables, autoconfiguration, and logging.
					</p>
					<h2 class='bold'>Students will receive</h2>
					<ul>
					<li>Hands-on experience using Cloud Foundry, the local command line interface, and the Eclipse based Spring Tool Suite plugin for Cloud Foundry</li>
					<li>Hands-on experience in pushing apps to Cloud Foundry, accessing logs, scaling</li>
					<li>An understanding of the marketplace services and experience with one or more examples</li>
					<li>An understanding of Spring application development in the cloud, such as auto-configuration and Spring Cloud</li>
					<li>An introduction on internal Cloud Foundry architecture</li>
					</ul>
					<p>
					This course does not teach topics related to installation and administration of the Pivotal Cloud Foundry environment itself.</p>

					<h2 class='bold'>Workshop Topics</h2>
					<ul>
					<li>Overview of Cloud Foundry</li>
					<li>Cloud Foundry concepts</li>
					<li>Getting Started using the Cloud Foundry CLI</li>
					<li>Development (logging, debugging, environment variables, manifests)</li>
					<li>Services</li>
					<li>Buildpacks</li>
					<li>Cloud Foundry Internals (Router, Cloud Controller, etc.)</li>
					<li>Spring and Cloud Applications (Spring Framework, Spring Boot, Spring Cloud)</li>
					</ul>

					<h2 class='bold'>Target Audience</h2>
					<ul>
					<li>Application developers seeking hands-on experience using the Spring Framework to create, deploy, manage, and scale applications in Cloud Foundry</li>
					</ul>

					<h2 class='bold'>Pre-requisites</h2>
					<ul>
					<li>Java / Spring development knowledge</li>
					<li>Basic IT / computer science knowledge, high-level familiarity with web application architecture, from a developer’s perspective</li>
					</ul>

<!-- 			<h2 class='bold'>Technical Requirements</h2>
					<ul>
					<li>Able to install software on their laptops</li>
					<li>A GitHub account highly recommended (labs are performed using GitHub files)</li>
					<li>Unfettered internet access to common development sites is required (eg. <a href='https://run.pivotal.io/'>https://run.pivotal.io</a>, <a href='https://spring.io'>https://spring.io</a>, <a href='https://github.com'>https://github.com</a>, etc).</li>
					</ul> -->
					<br/>
					<br/>
					<hr/>
				</div>
			</div>
		</div>
	</body>
</html>