<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="2017layout">

	<body id='index'>

		<div layout:fragment="content">
			<div class='video-container'>
				<div class='video-overlay'>
					<div class='video-overlay-text-container'>
						<div class='video-overlay-text'>Let’s build amazing software together.</div>
						<img src="https://d1ophd2rlqbanb.cloudfront.net/play-color.svg"></img>
					</div>
				</div>
				<div class='video-wrapper'>
					<iframe src="https://player.vimeo.com/video/182927157?color=01786e&amp;title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;background=1" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
				</div>
			</div>
			<div class='fifties'>
				<div class='fifty center'>
					<div class='inner'>
						<h1>Meet. Build. Deploy.</h1>
						<h3>SpringOne Platform is the premier conference for those who build, deploy, and run cloud-native software. Learn how to deliver transformational software by collaborating with leading software companies, enterprises, and cloud experts at this unique four day event.</h3>
					</div>
				</div>
				<div class='fifty center' id='location'>
                    <img id='goldengateinafog' src='https://d1ophd2rlqbanb.cloudfront.net/sf-fog.jpg'></img>
					<div class='inner'>
						<img id="logosmall" src="https://d1ophd2rlqbanb.cloudfront.net/logo-springone.svg"></img>
						<h2>December 4&ndash;7, 2017<br/><a href='https://www.google.com/maps/place/Moscone+Center+West,+800+Howard+St,+San+Francisco,+CA+94107/@37.7830922,-122.4062049,17z/data=!3m1!4b1!4m5!3m4!1s0x808580871e9159e5:0x8153758f853d5e49!8m2!3d37.7831263!4d-122.4038974' target='_blank'>Moscone West, San Francisco</a></h2>
						<div class='cta'><a href='/stay-informed'>Stay informed about 2017</a></div>
					</div>
				</div>
				<div class='fifty center' id='photos'>
					<img id='photosleft' src='https://d1ophd2rlqbanb.cloudfront.net/photosleft.jpg'></img>
                    <img id='escalator' src='https://d1ophd2rlqbanb.cloudfront.net/escalator600.jpg'></img>
				</div>
				<div class='fifty center' id='redmonkquote'>
					<div class='inner'>
						<img id='redmonklogo' src='https://d1ophd2rlqbanb.cloudfront.net/logo-redmonk.svg'></img>
						<h2>
							“SpringOne Platform was the first major vendor conference I’ve been to where the voice of the customer was the voice of the developer.” 
						</h2>
						<div class='cta'><a href='/2016'>See the 2016 Highlights</a></div>
					</div>
				</div>
			</div>
            <div id='springpcf'>
                <div class="container">
                    <img id='springlogo' src="https://d1ophd2rlqbanb.cloudfront.net/logo-spring-white.svg"></img>
                    <img id='iconplusgray' src="https://d1ophd2rlqbanb.cloudfront.net/icon-plus-gray.svg"></img>
                    <img id='pcflogo' src="https://d1ophd2rlqbanb.cloudfront.net/logo-pcf-white.svg"></img>
                    <h2>"Spring on Pivotal Cloud Foundry is turning into the most powerful platform for transformation across all of our customers."</h2>
                    <p>Rob Mee, CEO, Pivotal</p>
                    <div class='cta'>
                        <a href='https://www.youtube.com/playlist?list=PLAdzTan_eSPT0rmVdYlL2dQy0ZwZaaKyh' target='_blank'>Learn More</a>
                    </div>
                </div>
            </div>
			<div id='sponsors' class='center'>
				<div class='container'>
					<h1>Thank you to our 2016 Sponsors!</h1>

					<h5 class="uppercase">Platinum</h5>

					<div class='sponsors'>
    				<div class='sponsor'>
    					<a href='https://www.accenture.com/' target="_blank"><img id='accenture' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/accenture.svg'></img></a>
    				</div>
						<div class="sponsor">
						  <a href="http://apigee.com/about/" target="_blank"><img id="apigee" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/apigee.svg"></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://emc.com/' target="_blank"><img id='emc' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/emc.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://cloud.google.com/' target="_blank"><img id='gcp' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/gcp.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://hortonworks.com/' target="_blank"><img id='hortonworks' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/hortonworks.svg'></img></a>
    				</div>
						<div class="sponsor">
						  <a href="https://www.microsoft.com" target="_blank"><img id="msft" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/microsoft.svg"></img></a>
    				</div>
    			</div>

					<h5 class="uppercase">Gold</h5>

    			<div class='sponsors'>
    				<div class='sponsor'>
    					<a href='http://atos.net/' target="_blank"><img id='atos' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/atos.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://www.cognizant.com/' target="_blank"><img id='cognizant' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/cognizant.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.dynatrace.com/' target="_blank"><img id='dynatrace' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/dynatrace.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.enterprisedb.com/' target="_blank"><img id='enterprisedb' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/edb.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://www.heroku.com/' target="_blank"><img id='heroku' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/heroku.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://stormpath.com/' target="_blank"><img id='stormpath' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/stormpath.svg'></img></a>
    				</div>
    			</div>

					<h5 class="uppercase">Silver</h5>

    			<div class='sponsors'>
						<div class="sponsor">
						  <a href="https://aws.amazon.com/" target="_blank"><img id="aws" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/aws.svg"></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.broadleafcommerce.com/' target="_blank"><img id='broadleaf' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/broadleaf.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://www.cloudfoundry.org/' target="_blank"><img id='cloudfoundry' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/cloudfoundry.svg'></img></a>
    				</div>
						<div class="sponsor">
						  <a href="https://www.forgerock.com" target="_blank"><img id="forgerock" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/forgerock.svg"></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://hazelcast.com/' target="_blank"><img id='hazelcast' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/hazelcast.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.insys.com/' target="_blank"><img id='insys' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/insys.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://www.jetbrains.com/' target="_blank"><img id='jetbrains' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/jetbrains.svg'></img></a>
    				</div>
						<div class="sponsor">
						  <a href="http://www.mimacom.com/" target="_blank"><img id="mimacom" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/mimacom.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="https://www.mongodb.com/" target="_blank"><img id="mongodb" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/mongodb.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="https://newrelic.com" target="_blank"><img id="newrelic" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/newrelic.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="http://www.nttdata.com/global/en/" target="_blank"><img id="ntt" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/nttdata.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="https://www.predix.io/" target="_blank"><img id="predix" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/predix.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="http://www.target.com/" target="_blank"><img id="target" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/target.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="http://www.tcs.com/" target="_blank"><img id="tcs" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/tcs.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="http://www.techolution.com/" target="_blank"><img id="techolution" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/techolution.svg"></img></a>
    				</div>
						<div class="sponsor">
						  <a href="https://www2.wwt.com/" target="_blank"><img id="wwt" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/wwt.svg"></img></a>
						</div>
    				<div class='sponsor'>
    					<a href='https://zeroturnaround.com/' target="_blank"><img id='zeroturnaround' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/zeroturnaround.svg'></img></a>
    				</div>
					</div>

					<h5 class="uppercase">Bronze</h5>

    			<div class='sponsors'>
    				<div class='sponsor'>
    					<a href='http://www.galvanize.com/' target="_blank"><img id='galvanize' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/galvanize.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.gemalto.com/' target="_blank"><img id='gemalto' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/gemalto.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://kenzan.com/' target="_blank"><img id='kenzan' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/kenzan.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.perficient.com/' target="_blank"><img id='perficient' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/perficient.svg'></img></a>
    				</div>
    			</div>

					<h5 class="uppercase">Media</h5>

    			<div class='sponsors'>
    				<div class='sponsor'>
    					<a href='https://dzone.com/' target="_blank"><img id='dzone' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/dzone.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='https://www.infoq.com/' target="_blank"><img id='infoq' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/infoq.svg'></img></a>
    				</div>
    				<div class='sponsor'>
    					<a href='http://www.oreilly.com/' target="_blank"><img id='oreilly' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/grayscale/oreilly.svg'></img></a>
    				</div>
    			</div>

					<h2>
                        Want to learn about 2017 sponsorship? 
                        <br/>
                        Email 
                        <a href='mailto:sponsors1p@pivotal.io'>sponsorS1P@pivotal.io</a>
                        or
                        <a href='https://d1ophd2rlqbanb.cloudfront.net/SpringOne-Platform-2017-Prospectus.pdf' target="_blank">download the prospectus</a>.
                    </h2>

				</div>
			</div>
		</div>
	</body>
</html>
