<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="2017layout">
    <head>
    	<title>Travel</title>
    </head>

	<body id='travel'>

    <div layout:fragment="content">
			<div class='content'>
				<div id='hero'>
					<div class='container'>
						<h1>Hotel &amp; Travel Information</h1>
					</div>
				</div>

				<div class='container'>
					<br/>

					<h2>Which airport will I fly into?</h2>
					<p>San Francisco International Airport (SFO) or Oakland International Airport (OAK)</p>


					<h2>Where is SpringOne Platform being held?</h2>
					<p>Moscone Center West, 747 Howard Street, San Francisco, CA 94103</p>
					
					<h2>Which hotels have a discount rate for SpringOne Platform registrants?</h2>
					<div id='hotels'>
						<div class='thirtywide'>
							<img src='https://d1ophd2rlqbanb.cloudfront.net/2017/hotel-marquis.jpg'></img>
							<p>
								<a href='http://www.marriott.com/hotels/travel/sfodt-san-francisco-marriott-marquis/' target="_blank">Marriott Marquis</a> <br/>
								780 Mission Street <br/>
								San Francisco, CA 94103<br/>
								Discount rate: $269/night + tax
							</p>
						</div>
						<div class='thirtywide'>
							<img src='https://d1ophd2rlqbanb.cloudfront.net/2017/hotel-intercontinental.jpg'></img>
							<p>
								<a href='http://www.intercontinentalsanfrancisco.com/' target="_blank">InterContinental San Francisco</a> <br/>
								888 Howard Street<br/>
								San Francisco, CA 94103<br/>
								Discount rate: $265/night + tax
							</p>
						</div>
						<div class='thirtywide'>
							<img src='https://d1ophd2rlqbanb.cloudfront.net/2017/hotel-parkcentral.jpg'></img>
							<p>
								<a href='https://www.parkcentralsf.com/' target="_blank">Park Central Hotel</a> <br/>
								50 3rd Street<br/>
								San Francisco, CA 94103<br/>
								Discount rate: $259/night + tax
							</p>
						</div>
					</div>

					<h2>How do I receive the discount rate at one of the above hotels?</h2>
						<p>Reservations can be made during the SpringOne Platform registration process. A credit card will be required to hold your reservation. <br/><a href='https://2017.springoneplatform.io/ehome/s1p/registration'>Begin registration here.</a>  </p>


					<br/>
					<br/>
					<hr/>
					<br/>

					<h1>Transportation Options</h1>

					<h2>From the East Bay</h2>
					<p>BART: <a href='http://www.bart.gov/' target="_blank">www.bart.gov</a></p>
					<h2>From the South Bay</h2>
					<p>BART: <a href='http://www.bart.gov/' target="_blank">www.bart.gov</a><br/>
						CalTrain: <a href='http://www.caltrain.com/' target="_blank">www.caltrain.com</a></p>

					<h2>From San Francisco International Airport (SFO)</h2>
					<p>The easiest way to get to Moscone Center West from SFO is via BART (Bay Area Rapid Transit rail system). BART trains depart from the International Terminal every 15 minutes and it takes around 30 minutes to downtown San Francisco. If you arrive at the domestic terminals, take the AirTrain to get to the BART station which is located at the International Terminal. A one-way ticket from SFO to Powell Street Station in downtown San Francisco will cost approximately $8.95. BART tickets can be purchased using cash or credit card at the vending machines in the BART station. Take the "Pittsburg/Bay Point" train and disembark at the Powell Street station. Exit the station onto Market Street and walk southwest toward 4th Street. Turn left onto 4th street, then left onto Howard Street.</p>

					<h2>From Oakland International Airport (OAK)</h2>
					<p>The easiest way to get to Moscone Center from OAK is via BART (Bay Area Rapid Transit rail system). BART trains depart across from the Terminal 1 baggage claim area, and a short walk from Terminal 2. A one-way ticket to Powell Street Station in downtown San Francisco will cost approximately $3.75. BART tickets can be purchased using cash or credit at the vending machines in the BART station. Take the “Coliseum” train and get off at the “Coliseum” station. You will then need to transfer onto the “Daly City” train which will bring you into Downtown San Francisco. Disembark at the Powell Street station, and exit onto Market Street. Walk southwest toward 4th Street. Turn left onto 4th Street, then left onto Howard Street.</p>
					<br/>
					<p>More information on BART:  <a href='http://www.bart.gov/guide' target="_blank">http://www.bart.gov/guide</a></p>


					<h2>Uber and Lyft are also available from both SFO and OAK airports.</h2>
					<p>If you arrive at SFO, Uber and Lyft pick-up from the Departures Level at each terminal. If you have checked baggage, you will need to return upstairs to the Departures Level once you’ve retrieved your baggage. You’ll be required to provide both your Terminal and Door number when requesting your ride. This information is located on every door when exiting the airport.</p>
					<br/>
					<p>	If you arrive at OAK, Uber and Lyft pick-up from the Arrivals Level at each terminal. </p>
					<br/>
					<p class="white semibold">From SFO to Moscone Center West</p>
						<p>Uber: Approximately $22.00 fare <br/>
						Lyft: Approximately $30.00 </p>
					<br/>
					<p class="white semibold">From OAK to Moscone Center West</p>
						<p>Uber: Approximately $15.00<br/>
						Lyft: Approximately $40.00 </p>


					<br/>

					<br/>
					<hr/>
					<br/>

					<h1>Parking</h1>

					<h2>Is parking available at Moscone Center West?</h2>
					<p>Parking is available at the following locations:</p>

					<br/>
					<p><span class="white semibold">Fifth &amp; Mission Parking Garage</span><br/>
					  833 Mission Street <br/>
						(between Fourth &amp; Fifth Streets, adjacent to Moscone West)</p>


					<br/>
					<p><span class="white semibold">Moscone Center Garage</span><br/>
						(Not operated by The Moscone Center)<br/>
						255 Third Street <br/>
						(Folsom &amp; Howard, across the street from Moscone South’s Esplanade Ballroom)</p>


					<br/>
					<br/>
					<hr/>
					<br/>

					<h1>Registration Times</h1>

						<h2>What are the Registration hours onsite?</h2>
						<p>Registration will be located on Level 1 of Moscone Center West, during the following times:</p>
						<br/>
						<table>
							<tr>
								<td><p>Sunday, December 3</p></td>
								<td></td>
								<td><p>7:00 am&ndash;5:00 pm</p></td>
							</tr>
							<tr>
								<td><p>Monday, December 4</p></td>
								<td></td>								
								<td><p>7:00 am&ndash;8:00 pm</p></td>
							</tr>
							<tr>
								<td><p>Tuesday, December 5</p></td>
								<td></td>
								<td><p>7:30 am&ndash;8:00 pm</p></td>
							</tr>
							<tr>
								<td><p>Wednesday, December 6</p></td>
								<td></td>
								<td><p>7:30 am&ndash;8:00 pm</p></td>
							</tr>
							<tr>
								<td><p>Thursday, December 7</p></td>
								<td></td>
								<td><p>7:00 am&ndash;5:00 pm</p></td>
							</tr>
						</table>
						<br/>
						<br/>
						<br/>
				</div>
			</div>
		</div>
	</body>
</html>