<html
    xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
    layout:decorator="2017layout">
    <head>
    	<title>On the list</title>
    </head>

	<body id='onthelist'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>You're on the list!</h1>
					<h2>Thank you for signing up to receive SpringOne Platform news. We will let you know when registration goes live, pricing deadlines, breaking news (like call for papers and keynote speakers), and so much more.</h2>

					<h2>We look forward to hanging out with you at SpringOne Platform 2017!</h2>
				</div>
			</div>
		</div>
	</body>
</html>