<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
    	<title>Agenda | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='agenda'>

    <div layout:fragment="content">
      <div class='container'>
        <div class='content'>
					<h1>Agenda</h1>
					<div id='stats'>
						<div class='stat'>
      				<img id='daysicon' class='lazy' data-height='75' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-days-01.svg' data-width='75'></img>
      				<div class='numbertext'>
	      				<span class='number'>4</span>
	      				<span class='purple uppercase'>&nbsp;days</span>
	      			</div>
      			</div>
      			<div class='stat'>
      				<img id='participantsicon' class='lazy' data-height='68' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-participants-01.svg' data-width='60'></img>
      				<div class='numbertext'>
	      				<span class='number'>2000+</span>
	      				<br/>
	      				<span class='blue uppercase'>participants</span>
	      			</div>
      			</div>
      			<div class='stat'>
      				<img id='presentationsicon' class='lazy' data-height='50' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-presentations-01.svg' data-width='60'></img>
      				<div class='numbertext'>
	      				<span class='number'>200+</span>
	      				<br/>
	      				<span class='green uppercase'>presentations</span>
	      			</div>
      			</div>
	        </div>
	        <hr/>
	        <div id='agenda'>
	        	<div class='day'>
	        		<h3 class='white bold'>Sunday</h3>
	        		<h3 class='lightgrey bold'>July 31</h3>
	        		<p class='sizeeighteen white'>
		        		Registration
		        		<br/>
								9am // Training
							</p>
	        	</div>
	        	<div class='day'>
	        		<h3 class='white bold'>Monday</h3>
	        		<h3 class='peach bold'>August 1</h3>
	        		<p class='sizeeighteen white'>
								9am // Training
								<br/>
								Registration
		        		<br/>
								8pm // Evening Event
							</p>
	        	</div>
	        	<div class='day'>
	        		<h3 class='white bold'>Tuesday</h3>
	        		<h3 class='purple bold'>August 2</h3>
	        		<p class='sizeeighteen white'>
								Registration
								<br/>
								Breakfast
								<br/>
								Main Stage
								<br/>
								Lunch
								<br/>
								Breakout Sessions
		        		<br/>
								Evening Event
							</p>
	        	</div>
	        	<div class='day'>
	        		<h3 class='white bold'>Wednesday</h3>
	        		<h3 class='blue bold'>August 3</h3>
	        		<p class='sizeeighteen white'>
								Registration
								<br/>
								Breakfast
								<br/>
								Main Stage
								<br/>
								Lunch
								<br/>
								Breakout Sessions
		        		<br/>
								Evening Event
							</p>
	        	</div>
	        	<div class='day'>
	        		<h3 class='white bold'>Thursday</h3>
	        		<h3 class='green bold'>August 4</h3>
	        		<p class='sizeeighteen white'>
								Registration
								<br/>
								Breakfast
								<br/>
								Breakout Sessions
								<br/>
								Lunch
								<br/>
								Main Stage
		        		<br/>
								4pm // Departures
							</p>
	        	</div>
	        </div>
				</div>
			</div>
      <div id='aria'>
        <div class='container center'>
        	<h2 class='white uppercase bold'>August 1&ndash;4 &middot; Aria, Las Vegas</h2>
        	<div class='ctas'>
		        <div class='cta'>
			        <a href='/register'>Register</a>
		        </div>
		        <div class='cta'>
			        <a href='https://resweb.passkey.com/go/PIVM16' target="_blank">Book Now for Special Rate</a>
		        </div>
		      </div>
        </div>
    	</div>
    </div>
	</body>
</html>
