<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
    	<title>FAQ | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='faq'>

    <div layout:fragment="content">
      <div class='container'>
        <div class='content'>
					<h1>FAQ</h1>
					<div class='question'>
						<h2>
						Why the new name?
						</h2>
						<p>
						From the beginning Spring focused on creating frameworks to support developers with power, flexibility, convenience and productivity, but a lot has changed since the beginning. We’re entering a new era when nearly everything is accessible as an API, from infrastructure configurations to complex data analysis. We’re also seeing the industry recognize that software isn’t just a question of fulfilling a specification, but how we work has an impact on the results and our lives. SpringOne Platform will bring together the full breadth of modern tools and methods. Continuous delivery, microservices, devops, big data, data science and all things software related will have a place at SpringOne Platform. As a community coming together to learn and share, SpringOne Platform will showcase the most contemporary software approaches and organizations who are leveraging them in theory and practice.
						</p>
					</div>
					<div class='question'>
						<h2>
						What happened to 2GX?
						</h2>
						<p>
						In the past, SpringOne joined with the 2GX Groovy &amp; Grails conference to bring together two communities focused on building great things with the JVM. This year 2GX will be rebranded as the
						<a href='http://www.g3summit.com/'>G3 Summit</a>,
						hosted by
						<a href='http://nofluffjuststuff.com/'>No Fluff Just Stuff</a>
						on November 28th&mdash;Dec 1st in Fort Lauderdale, FL. The G3 summit will be the premier event featuring the Groovy, Grails, and Gradle ecosystems.
						</p>
					</div>
					<div class='question'>
						<h2>
						Will there be Groovy and Grails sessions at SpringOne Platform 2016?
						</h2>
						<p>
						We hope so, especially topics that intersect with Spring Boot and Cloud Native Applications. You should propose something.
						</p>
					</div>
					<div class='question'>
						<h2>
						Will ‘name your favorite software related topic’ be covered at SpringOne Platform 2016?
						</h2>
						<p>
						Maybe. You should propose something. Head over to the
						<a href='/submit'>CFP page</a>
						for information about topics at the conference.
						</p>
					</div>
					<div class='question'>
						<h2>
						Who should attend SpringOne Platform?
						</h2>
						<p>
						Software is a team sport. Developers, operators, architects, data scientists and their managers will find technical sessions ranging from beginner to advanced topics. Technical managers or executives looking to educate themselves and transform their teams with the latest tools and methods will find many SpringOne Platform sessions accessible and actionable.
						</p>
					</div>
				</div>
			</div>
    </div>
	</body>
</html>
