<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

	<body id='index'>

    <div layout:fragment="content">
      <div class='container-main'>
				<div id="slideshow">
				  <div id='photos'>
				  	<div class='photo activephoto'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  </div>
				  <div id='slideshow-overlay'>
				  	<div id='regtext'>
					  	<h1>August 1&ndash;4, 2016 &middot; Aria, Las Vegas</h1>
					  	<div class='cta'>
					  		<a href='/register'>Register Today</a>
					  	</div>
					  </div>
				  </div>
				</div>
				<div id='speakerssection'>
					<div id='slider'>
						<div class='set'>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/bridget_kromhout.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-kromhout.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Bridget Kromhout</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/justin_erenkrantz.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-erenkrantz.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Justin Erenkrantz</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Bloomberg</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/juergen_hoeller.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-hoeller.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Juergen Hoeller</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/jessica_frazelle.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/frazelle-carousel.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Jessica Frazelle</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Google</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/adrian_cockcroft.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-cockcroft.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Adrian Cockcroft</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Battery Ventures</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/james_taylor.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-taylor.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>James Taylor</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Comcast</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/cornelia_davis.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-davis.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Cornelia Davis</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/brian_gregory.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-gregory.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Brian Gregory</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Express Scripts</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/josh_long.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-long.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Josh Long</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/ted_tollefson.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-tollefson.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Ted Tollefson</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Kroger</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/casey_west.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-west.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Casey West</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/thomas_gamble.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/gamble240.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Thomas Gamble</span>
											<br/>
											<span class='white uppercase sizeeighteen'>The Home Depot</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/mark_fisher.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-fisher.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Mark Fisher</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/greg_otto.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-otto.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Greg Otto</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Comcast</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/mark_pollack.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-pollack.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Mark Pollack</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/anthony_mcculley.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mcculley240.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Anthony McCulley</span>
											<br/>
											<span class='white uppercase sizeeighteen'>The Home Depot</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/stephane_nicoll.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-nicoll.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Stéphane Nicoll</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/tomas_lin.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/lin.jpeg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Tomas Lin</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Netflix</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/oliver_gierke.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-gierke.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Oliver Gierke</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/mikey_cohen.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mcohen.jpeg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Mikey Cohen</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Netflix</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/rossen_stoyanchev.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-stoyanchev.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Rossen Stoyanchev</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/ray_tsang.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/tsang.jpeg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Ray Tsang</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Google</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/dave_syer.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-syer.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Dave Syer</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
        <div class='container onefourteen'>
        	<div id='joinus'>
		        <div id='intro'>
			        <h1>Join us for SpringOne Platform</h1>
			        <div id="counttrigger"></div>
			        <h4>SpringOne Platform brings together the people, process and tools for delivering and operating software services. Learn and share with the startups and enterprises leveraging modern Java with Spring connecting all the pieces of the modern software puzzle from developer, operator, architect, data scientist to executive. </h4>
			        <div class='cta'>
				        <a href='https://2016.event.springoneplatform.io/presenters'>See Speakers</a>
			        </div>
		        </div>
		        <div id='stats'>
		        	<table>
		        		<tr>
		        			<td>
		        				<img id='daysicon' class='lazy' data-height='75' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-days-01.svg' data-width='75'></img>
		        			</td>
		        			<td>
		        				<span class='number'>4</span>
		        				<span class='purple uppercase'>&nbsp;days</span>
		        			</td>
		        		</tr>
		        		<tr>
		        			<td>
		        				<img id='participantsicon' class='lazy' data-height='68' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-participants-01.svg' data-width='60'></img>
		        			</td>
		        			<td>
		        				<span class='number'><span class='count'>2000</span>+</span>
		        				<br/>
		        				<span class='blue uppercase'>participants</span>
		        			</td>
		        		</tr>
		        		<tr>
		        			<td>
		        				<img id='presentationsicon' class='lazy' data-height='50' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-presentations-01.svg' data-width='60'></img>
		        			</td>
		        			<td>
		        				<span class='number'><span class='count'>200</span>+</span>
		        				<br/>
		        				<span class='green uppercase'>presentations</span>
		        			</td>
		        		</tr>
		        	</table>
		        </div>
		      </div>
	        <div id='learnshare'>
	        	<div id='learnsharekeynote'>
				      <img src="https://d1ophd2rlqbanb.cloudfront.net/sessions-globe.png"></img>
		        	<div id='learnsharetext'>
				        <h1 class='nomargin'>Sessions</h1>
				        <h4 class='nomargin'>If you are looking for training, technical deep dives or case studies,  SpringOne Platform will have something for you. From the cloud native to those just starting to transform, there will be in-depth advanced technical topics and accessible introductory content covering agile, continuous delivery, devops, microservices, data analytics, machine learning, and more. </h4>
				        <div class='cta'>
					        <a href='/sessions'>See Sessions</a>
				        </div>
				      </div>
				    </div>    
	        </div>
	      </div>
	    </div>
	    <div class="container tentwenty">
	    	<h1 class='white'>Workshops and Events</h1>
		    <div id='workshops'>
		    	<a class='fifty match' id='pcfbox' href='/pcf-open-space'>
		    		<div class='inner'>
		    			<h2 class='white'>Pivotal Cloud Foundry Open Space</h2>
		    			<p class='white'>We’ll spend half a day discussing everything Pivotal Cloud Foundry: operations, development, tips, tricks, roadmap and anything else that the group is interested in exploring.</p>
		    		</div>
	    			<div class='workshoplogos'>
	    				<img class='pcflogosvg' src="https://d1fto35gcfffzn.cloudfront.net/images/products/gettingstartedwithpcf/logo-pivotal-cloud-foundry-white.svg"></img>
	    			</div>
		    	</a>
		    	<a class='fifty match' id='openapibox' href='/openapi-workshop'>
		    		<div class='inner'>
		    			<h2 class='white'>API-First Development with OpenAPI and Cloud Foundry</h2>
		    			<p class='white'>Join this sponsored, hands-on workshop to learn about API-first development with the OpenAPI Specification (formerly known as Swagger).</p>
		    		</div>
	    			<div class='workshoplogos'>
	    				<img class='pcflogosvg' src="https://d1fto35gcfffzn.cloudfront.net/images/products/gettingstartedwithpcf/logo-pivotal-cloud-foundry-white.svg"></img>
	    				<img class='apigeelogo' src="https://d1ophd2rlqbanb.cloudfront.net/logo-apigee-white-2x.png"></img>
	    			</div>
		    	</a>
		    	<a class='fifty match' id='ignitebox' href='/ignite'>
		    		<div class='inner'>
		    			<h2 class='white'>Ignite SpringOne Platform</h2>
		    			<p class='white'>Ignite talks are short talks filled with geeky passions and win. Build 20 slides that auto-advance every 15 seconds.</p>
		    		</div>
	    			<div class='workshoplogos'>
	    				<img class='ignitelogo' src="https://d1ophd2rlqbanb.cloudfront.net/logo-ignite-2x.png"></img>
	    			</div>
		    	</a>
		    	<a class='fifty match' id='trainingbox' href='/training'>
		    		<div class='inner'>
		    			<h2 class='white'>Pre-Conference Training</h2>
		    			<p class='white'>Pivotal Education offers a series of accelerated, hands-on training workshops prior to the SpringOne Platform conference.</p>
		    		</div>
	    			<div class='workshoplogos'>
	    				<img class='pivotallogosvg' src="https://d1fto35gcfffzn.cloudfront.net/images/header/Pivotal_WhiteOnTeal_RGB.svg"></img>
	    			</div>
		    	</a>
		    </div>
		  </div>
    	<div id='sponsors'>
    		<div class='container'>
    			<h1 class='deeppurple'>Sponsors</h1>
    			<h4 class='uppercase deeppurple'>Platinum</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<a href='https://www.accenture.com/' target="_blank"><img id='accenture' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Accenture-br.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://cloud.google.com/' target="_blank"><img id='gcp' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-gcp-350.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://hortonworks.com/' target="_blank"><img id='hortonworks' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-hortonworks.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://emc.com/' target="_blank"><img id='emc' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-emc500.png'></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="http://apigee.com/about/" target="_blank"><img id="apigee" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/ApigeeLogo_200x68.png"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="https://www.microsoft.com" target="_blank"><img id="msft" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/microsoft.png"></img></a>
    				</div>
    			</div>
    			<h4 class='uppercase deeppurple'>Gold</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<a href='http://www.dynatrace.com/' target="_blank"><img id='dynatrace' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Dynatrace_Logo_RGB_PH_512x92px.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://www.heroku.com/' target="_blank"><img id='heroku' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-heroku.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://stormpath.com/' target="_blank"><img id='stormpath' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-stormpath500.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://www.enterprisedb.com/' target="_blank"><img id='enterprisedb' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/edb_logo_full_color-space.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://atos.net/' target="_blank"><img id='atos' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Atos.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://www.cognizant.com/' target="_blank"><img id='cognizant' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Cognizant_LOGO_color-01.svg'></img></a>
    				</div>
    			</div>
    			<h4 class='uppercase deeppurple'>Silver</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<a href='https://www.cloudfoundry.org/' target="_blank"><img id='cloudfoundry' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-cloudfoundry.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://hazelcast.com/' target="_blank"><img id='hazelcast' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-hazelcast-01.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://zeroturnaround.com/' target="_blank"><img id='zeroturnaround' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/zt_logo_RGB.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://www.broadleafcommerce.com/' target="_blank"><img id='broadleaf' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-broadleaf.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://www.insys.com/' target="_blank"><img id='insys' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-insys.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://www.jetbrains.com/' target="_blank"><img id='jetbrains' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/jetbrains_250x250.png'></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="http://www.techolution.com/" target="_blank"><img id="techolution" src="https://d1fto35gcfffzn.cloudfront.net/images/partners/logo-techolution.png"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="http://www.tcs.com/" target="_blank"><img id="tcs" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-tcs-240.png"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="http://www.target.com/" target="_blank"><img id="target" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/Target_logo.svg"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="http://www.nttdata.com/global/en/" target="_blank"><img id="ntt" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/ntt-data.png"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="http://www.mimacom.com/" target="_blank"><img id="mimacom" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-mimacom.png"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="https://www.mongodb.com/" target="_blank"><img id="mongodb" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-mongodb-126.png"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="https://www.predix.io/" target="_blank"><img id="predix" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/predix_logo.svg"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="https://aws.amazon.com/" target="_blank"><img id="aws" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-aws-01.svg"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="https://newrelic.com" target="_blank"><img id="newrelic" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/NewRelic-logo-bug.svg"></img></a>
    				</div>
						<div class="sponsor match">
						  <a href="https://www.forgerock.com" target="_blank"><img id="forgerock" src="https://d1ophd2rlqbanb.cloudfront.net/sponsors/Forgerock-Logo-Master-2016_1Cblackhorizontal-01.svg"></img></a>
    				</div>
    			</div>
    			<h4 class='uppercase deeppurple'>Bronze</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<a href='http://www.galvanize.com/' target="_blank"><img id='galvanize' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/galvanize-logo.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://kenzan.com/' target="_blank"><img id='kenzan' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-kenzan.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://www.perficient.com/' target="_blank"><img id='perficient' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Perficient-01.svg'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://www.gemalto.com/' target="_blank"><img id='gemalto' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Gemalto.svg'></img></a>
    				</div>
    			</div>
    			<h4 class='uppercase deeppurple'>Media</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<a href='https://dzone.com/' target="_blank"><img id='dzone' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-dzone.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='http://www.oreilly.com/' target="_blank"><img id='oreilly' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-oreilly-450.png'></img></a>
    				</div>
    				<div class='sponsor match'>
    					<a href='https://www.infoq.com/' target="_blank"><img id='infoq' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/infoq-01.svg'></img></a>
    				</div>
    			</div>
	        <div class='cta'>
		        <a download='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf' href='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf'>Become a Sponsor</a>
	        </div>
    		</div>
    	</div>
      <div id='aria'>
        <div class='container center'>
        	<h1 class='white'>Stay at the Aria, Las Vegas</h1>
	        <div class='cta'>
		        <a href='https://resweb.passkey.com/go/PIVM16' target="_blank">Book Now for Special Rate</a>
	        </div>
        </div>
    	</div>
    </div>
	</body>
</html>
