<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

	<body id='index'>

    <div layout:fragment="content">
      <div class='container-main'>
				<div id="slideshow">
				  <div id='photos'>
				  	<div class='photo activephoto'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  	<div class='photo'></div>
				  </div>
				  <div id='slideshow-overlay'>
				  	<div id='regtext'>
					  	<h1>August 1&ndash;4, 2016 &middot; Aria, Las Vegas</h1>
					  	<div class='cta'>
					  		<a href='/register'>Register Today</a>
					  	</div>
					  </div>
				  </div>
				</div>
				<div id='speakerssection'>
					<div id='slider'>
						<div class='set'>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/bridget_kromhout.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-kromhout.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Bridget Kromhout</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/adrian_cockcroft.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-cockcroft.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Adrian Cockcroft</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Battery Ventures</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/juergen_hoeller.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-hoeller.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Juergen Hoeller</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/james_taylor.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-taylor.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>James Taylor</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Comcast</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/cornelia_davis.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-davis.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Cornelia Davis</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/brian_gregory.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-gregory.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Brian Gregory</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Express Scripts</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/josh_long.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-long.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Josh Long</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/ted_tollefson.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-tollefson.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Ted Tollefson</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Kroger</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/casey_west.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-west.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Casey West</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/thomas_gamble.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/gamble240.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Thomas Gamble</span>
											<br/>
											<span class='white uppercase sizeeighteen'>The Home Depot</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/mark_fisher.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-fisher.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Mark Fisher</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/greg_otto.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-otto.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Greg Otto</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Comcast</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/mark_pollack.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-pollack.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Mark Pollack</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/anthony_mcculley.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mcculley240.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Anthony McCulley</span>
											<br/>
											<span class='white uppercase sizeeighteen'>The Home Depot</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/stephane_nicoll.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-nicoll.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Stéphane Nicoll</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/tomas_lin.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/lin.jpeg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Tomas Lin</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Netflix</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/oliver_gierke.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-gierke.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Oliver Gierke</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/mikey_cohen.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mcohen.jpeg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Mikey Cohen</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Netflix</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/rossen_stoyanchev.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-stoyanchev.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Rossen Stoyanchev</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/ray_tsang.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/speakers/tsang.jpeg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Ray Tsang</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Google</span>
									</div>
								</a>
							</div>
							<div class='speaker'>
								<a href='https://2016.event.springoneplatform.io/presenters/dave_syer.html'>
									<img src='https://d1ophd2rlqbanb.cloudfront.net/carousel-syer.jpg'></img>
									<div class='overlay'></div>
									<div class='text'>
											<span class='white bold sizeeighteen'>Dave Syer</span>
											<br/>
											<span class='white uppercase sizeeighteen'>Pivotal</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
        <div class='container onefourteen'>
        	<div id='joinus'>
		        <div id='intro'>
			        <h1>Join us for SpringOne Platform</h1>
			        <div id="counttrigger"></div>
			        <h4>SpringOne Platform brings together the people, process and tools for delivering and operating software services. Learn and share with the startups and enterprises leveraging modern Java with Spring connecting all the pieces of the modern software puzzle from developer, operator, architect, data scientist to executive. </h4>
			        <div class='cta'>
				        <a href='https://2016.event.springoneplatform.io/presenters'>See Speakers</a>
			        </div>
		        </div>
		        <div id='stats'>
		        	<table>
		        		<tr>
		        			<td>
		        				<img id='daysicon' class='lazy' data-height='75' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-days-01.svg' data-width='75'></img>
		        			</td>
		        			<td>
		        				<span class='number'>4</span>
		        				<span class='purple uppercase'>&nbsp;days</span>
		        			</td>
		        		</tr>
		        		<tr>
		        			<td>
		        				<img id='participantsicon' class='lazy' data-height='68' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-participants-01.svg' data-width='60'></img>
		        			</td>
		        			<td>
		        				<span class='number'><span class='count'>2000</span>+</span>
		        				<br/>
		        				<span class='blue uppercase'>participants</span>
		        			</td>
		        		</tr>
		        		<tr>
		        			<td>
		        				<img id='presentationsicon' class='lazy' data-height='50' data-original='https://d1ophd2rlqbanb.cloudfront.net/icon-presentations-01.svg' data-width='60'></img>
		        			</td>
		        			<td>
		        				<span class='number'><span class='count'>200</span>+</span>
		        				<br/>
		        				<span class='green uppercase'>presentations</span>
		        			</td>
		        		</tr>
		        	</table>
		        </div>
		      </div>
	        <div id='learnshare'>
	        	<div id='learnsharekeynote'>
		        	<div id='learnsharetext'>
				        <h1 class='nomargin'>Learn &amp; Share</h1>
				        <h4 class='nomargin'>If you are looking for training, technical deep dives or case studies,  SpringOne Platform will have something for you. From the cloud native to those just starting to transform, there will be in-depth advanced technical topics and accessible introductory content covering agile, continuous delivery, devops, microservices, data analytics, machine learning, and more. </h4>
				      </div>
				      <div id='keynote'>
				      	<div id='adrian'>
			        		<img class='lazy' data-height='143' data-original='https://d1ophd2rlqbanb.cloudfront.net/headshot-cockcroft-01.png' data-width='144'></img>
			        		<span class='uppercase'>Keynote Speaker</span>
			        		<h3 class='white bold'>Adrian Cockcroft</h3>
			        	</div>
				      </div>
				    </div>
				    <div class='arrowcontainerleft'>
				    	<div class='arrowleft'></div>
				    </div>
			      <div id='sessions'>
			      	<div id='sessionsSlider'>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/modern_java_component_design_with_spring_framework_4_3.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>Modern Java Component Design with Spring Framework 4.3</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/hoeller.jpeg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Juergen Hoeller</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/sso_with_oauth2_and_cloud_foundry.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>SSO with OAuth2 and Cloud Foundry</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/dsyer.jpg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Dave Syer</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/putting_a_spel_on_spinnaker_evolving_an_expression_language_for_continuous_delivery_at_netflix.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>Evolving an Expression Language for Continuous Delivery</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/lin.jpeg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Tomas Lin, Netflix</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/netflix_s_edge_gateway_using_zuul.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>Netflix's Edge Gateway Using Zuul</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img id='mcohen' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mcohen.jpeg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Mikey Cohen, Netflix</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/from_imperative_to_reactive_web_apps.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>From Imperative To Reactive Web Apps</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/stoyanchev.jpeg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Rossen Stoyanchev</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/ddd_rest_domain_driven_apis_for_the_web.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>DDD &amp; REST - Domain Driven APIs for the Web</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/gierke.png'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Oliver Gierke</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/cloud_native_java.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>Cloud Native Java</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/long200.jpg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Josh Long</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/grpc_101_for_spring_developers.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>gRPC 101 for Spring Developers</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img src='https://d1ophd2rlqbanb.cloudfront.net/headshot-tsang-01.png'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Ray Tsang, Google</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/the_five_stages_of_cloud_native.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>The Five Stages of Cloud Native</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/west.jpeg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Casey West</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/high_performance_microservices_with_ratpack_and_spring_boot.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>High Performance Microservices with Ratpack and Spring Boot</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img src='https://d1ophd2rlqbanb.cloudfront.net/headshot-woods-01.png'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Dan Woods</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/from_0_to_1000_apps_the_first_year_of_cloud_foundry_at_the_home_depot.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>From 0 to 1000 Apps: The First Year of Cloud Foundry at The Home Depot</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mcculley200.jpg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Anthony McCulley, The Home Depot</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
				      	<div class='sessioncard match'>
				      		<a href='https://2016.event.springoneplatform.io/schedule/sessions/12_factor_or_cloud_native_apps_what_exactly_does_that_mean_for_spring_developers.html'>
					      		<div class='inner'>
					      			<div class='sessiontitle'>
					      				<div class='inner'>			      			
									      	<span class='uppercase sizeeighteen'>Session</span>
									      	<h3 class='white'>12 Factor, or Cloud Native Apps - What EXACTLY Does that Mean for Spring Developers?</h3>
									      </div>
								      </div>
							      	<div class='headshottitle'>
					        			<img class='headshot' src='https://d1ophd2rlqbanb.cloudfront.net/speakers/gamble200.jpg'></img>
					        			<br/>
					        			<span class='white sizeeighteen'>Thomas Gamble, The Home Depot</span>
					        		</div>
					        	</div>
					        </a>
					      </div>
					    </div>
			      </div>
				    <div class='arrowcontainerright'>
				    	<div class='arrowright'></div>
				    </div>
				    <div class='logos'>
				    	<!-- <img class='speakerlogo' src='https://d1ophd2rlqbanb.cloudfront.net/logo-comcast-white-fresh.svg'></img> -->
				    	<img class='speakerlogo' id='expressscripts' src='https://d1ophd2rlqbanb.cloudfront.net/logo-es-white.svg'></img>
				    	<img class='speakerlogo thirtyheight' src='https://d1ophd2rlqbanb.cloudfront.net/logo-google-white.svg'></img>
				    	<!-- <img class='speakerlogo' id='kroger' src='https://d1ophd2rlqbanb.cloudfront.net/logo-kroger-white.svg'></img> -->
			        <img class='speakerlogo thirtyheight' src='https://d1ophd2rlqbanb.cloudfront.net/logo-netflix-white-01.svg'></img>
				    </div>
		        <div class='cta'>
			        <a href='/sessions'>See Sessions</a>
		        </div>			      
	        </div>
	      </div>
	    </div>
      <div id='aria'>
        <div class='container center'>
        	<h1 class='white'>Stay at the Aria, Las Vegas</h1>
	        <div class='cta'>
		        <a href='https://resweb.passkey.com/go/PIVM16' target="_blank">Book Now for Special Rate</a>
	        </div>
        </div>
    	</div>
    	<div id='sponsors'>
    		<div class='container'>
    			<h1 class='deeppurple'>Sponsors</h1>
    			<h4 class='uppercase deeppurple'>Platinum</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<img id='accenture' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Accenture-br.svg'></img>
    				</div>
    			</div>
    			<h4 class='uppercase deeppurple'>Gold</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<img id='dynatrace' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/Dynatrace_Logo_RGB_PH_512x92px.png'></img>
    				</div>
    			</div>
    			<h4 class='uppercase deeppurple'>Silver</h4>
    			<div class='sponsors'>
    				<div class='sponsor match'>
    					<img id='cloudfoundry' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-cloudfoundry.svg'></img>
    				</div>
    				<div class='sponsor match'>
    					<img id='hazelcast' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-hazelcast-01.svg'></img>
    				</div>
    				<div class='sponsor match'>
    					<img id='zeroturnaround' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/zt_logo_RGB.svg'></img>
    				</div>
    				<div class='sponsor match'>
    					<img id='broadleaf' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-broadleaf.png'></img>
    				</div>
    				<div class='sponsor match'>
    					<img id='hortonworks' src='https://d1ophd2rlqbanb.cloudfront.net/sponsors/logo-hortonworks.png'></img>
    				</div>
    			</div>
	        <div class='cta'>
		        <a download='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf' href='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf'>Become a Sponsor</a>
	        </div>
    		</div>
    	</div>
    </div>
	</body>
</html>
