<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
    	<title>Keynotes | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='keynotes'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Keynote Speakers</h1>
					<br/>
					<p class='dateandtime purpleunderline mtten'>Tuesday, August 2nd</p>
					<p class="dateandtime mttenbtwenty">9:00 AM - 10:00 AM</p>

					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/fakhouri200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Onsi Fakhouri</h3>
							<p class='titlecompany'>VP of Engineering, Cloud Foundry <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Onsi Fakhouri is the VP of Engineering for Cloud Foundry at Pivotal.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/davis200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Cornelia Davis</h3>
							<p class='titlecompany'>Sr. Director of Technology <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Cornelia Davis is responsible for guiding clients on the technical elements of broader transformation, she focuses on making developers and operations teams successful with Pivotal Cloud Foundry. To that end, you’ll find her knee deep in the code base, writing cloud native apps and deploying them onto the platform, teaching at a whiteboard, talking Devops, presenting at conferences and passionately driving new features into the product.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/kromhout200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Bridget Kromhout</h3>
							<p class='titlecompany'>Principal Technologist <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Bridget Kromhout is a Principal Technologist for Cloud Foundry at Pivotal. Her CS degree emphasis was in theory, but she now deals with the concrete (if ‘cloud’ can be considered tangible). After years as an operations engineer (most recently at DramaFever), she traded in oncall for more travel. A frequent speaker at tech conferences, she helps organize tech meetups at home in Minneapolis, serves on the program committee for Velocity, and acts as a global core organizer for devopsdays. </p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/gotto.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Greg Otto</h3>
							<p class='titlecompany'>Executive Director <span class='companyname'>Comcast</span></p>
							<p class='smoothwebkit'>As Executive Director of Cloud Services at Comcast, Greg is helping transform the product delivery experience. A 20+ year veteran with roots as a programmer, he is passionate about improving the lives of our development teams. Greg has been a driving force for cloud after initiating the program over 8 years ago and has focused a lot of his time partnering with the Cloud Foundry team since 2014.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/miller200updated.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Brad Miller</h3>
							<p class='titlecompany'>Global Head, Digital &amp; Cloud <span class='companyname'>Citi</span></p>
							<p class='smoothwebkit'>Brad leads the team pioneering the next phase of Citi's consumer banking mobile, tablet, and internet products and the underlying platforms. He is responsible for executing Citi’s next-generation platform and cloud vision through the delivery of digital products and services supporting Citi's FinTech, credit card and retail bank units. </p>
						</div>
					</div>
					<br/>
					<p class="dateandtime mttenbtwenty">10:00 AM - 11:00 AM</p>

					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/webb200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Phil Webb</h3>
							<p class='titlecompany'>Spring Boot Lead <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Phil Webb is a Spring Framework developer and co-creator of the Spring Boot project. Prior to joining Pivotal and relocating to California, Phil worked for a number of UK technology companies.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/nicoll.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Stéphane Nicoll</h3>
							<p class='titlecompany'>Spring Framework Committer <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Stéphane has a thing for code quality and robustness. He's been spreading the word for more than ten years while developing large scale Java enterprise applications in the geospatial, financial, or logistics sectors. An Apache Maven PMC member since 2006, he joined the core Spring Framework development team early 2014, being one of the main contributors to both Spring Framework and Spring Boot since. During his free time, he loves traveling around the world.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/long200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Josh Long</h3>
							<p class='titlecompany'>Spring Developer Advocate <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Josh (@starbuxman) is the Spring Developer Advocate at Pivotal. Josh is a Java Champion, author of 5 books (including O'Reilly's upcoming "Cloud Native Java: Designing Resilient Systems with Spring Boot, Spring Cloud, and Cloud Foundry") and 3 best-selling video trainings (including "Building Microservices with Spring Boot Livelessons" w/ Phil Webb), and an open-source contributor (Spring Boot, Spring Integration, Spring Cloud, Activiti and Vaadin).</p>
						</div>
					</div>

					<br/>
					<p class='dateandtime purpleunderline mtten'>Wednesday, August 3rd</p>
					<p class="dateandtime mttenbtwenty">9:00 AM - 10:00 AM</p>

					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/ramji200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Sam Ramji</h3>
							<p class='titlecompany'>Chief Executive Officer <span class='companyname'>Cloud Foundry Foundation</span></p>
							<p class='smoothwebkit'>Sam Ramji is a 20+ year veteran of the Silicon Valley and Seattle technology scenes. He was Chief Strategy Officer for Apigee (APIC), designed and led Microsoft's open source strategy, founded the Outercurve Foundation, and drove product strategy for BEA WebLogic Integration. Previously he built distributed systems and client software at firms including Broderbund, Fair Isaac, and Ofoto. </p>
						</div>
					</div>

					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/erenkrantz200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Justin Erenkrantz</h3>
							<p class='titlecompany'>Head, Compute Architecture <span class='companyname'>Bloomberg</span></p>
							<p class='smoothwebkit'>Justin R. Erenkrantz is currently Head of Compute Architecture at Bloomberg. In this role, he defines the next-generation compute infrastructure, with focus on OpenStack and Hadoop ecosystems. He has been a long-time contributor to the Apache HTTP Server and Subversion. In 2009, he received his PhD from the University of California, Irvine. From 2005 to 2010, he served as a Director for The Apache Software Foundation.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/zitney200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Andy Zitney</h3>
							<p class='titlecompany'>SVP Infrastructure Services <span class='companyname'>McKesson</span></p>
							<p class='smoothwebkit'>Andrew is responsible for all aspects of infrastructure delivery and operations focused on modernizing the technology environments, while driving platform and cloud strategies across the enterprise. Prior to joining McKesson, Andrew worked as Senior Vice President &amp; Chief Technology Officer for Architecture, Infrastructure, and Technology Innovation with Allstate Technology &amp; Strategic Ventures.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/watters200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>James Watters</h3>
							<p class='titlecompany'>SVP, Product <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>As senior vice president product, James Watters oversees Pivotal’s product and business development organizations. In this role, James has helped shepherd the company's marquee product, Pivotal Cloud Foundry, from an experimental project at VMware into a highly disruptive enterprise software business and the industry standard platform for cloud applications. Pivotal Cloud Foundry is the fastest growing open source product in history growing from zero to $200M sales rate in its first two years on the market. Prior to Pivotal, James served in leading product roles at VMware and Sun Microsystems.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/marshall200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Jay Marshall</h3>
							<p class='titlecompany'>Principal Strategic Advisor <span class='companyname'>Google</span></p>
							<p class='smoothwebkit'>Jay is an ex-Pivotal Field Engineer and early Cloud Foundry obsessor with more than 20 years in enterprise development. As Principal Strategic Advisor at Google, he currently works with large enterprises and partners to guide cloud strategies and help build on top of Google’s massive global footprint of cloud infrastructure and services. </p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/barnes200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Nigel Barnes</h3>
							<p class='titlecompany'>Chief Architect <span class='companyname'>Accenture</span></p>
							<p class='smoothwebkit'>Nigel grew up in West Cornwall, studied Electronics at the University of York and joined Accenture in 1991 having previously worked for BT.  He has spent is career on large system integration and delivery engagements for clients including EDF Energy, Clearstream, British Gas, Department for Work and Pensions and most recently Vodafone.  Nigel is a Master Technology Architect and leads the Advanced Technology and Architecture (ATA) platform in EALA and is Accenture's Lead Technology Architect. </p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/tretina1.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Christopher Tretina</h3>
							<p class='titlecompany'>Director, Common Infrastructure Platforms <span class='companyname'>Comcast</span></p>
							<p class='smoothwebkit'>Christopher Tretina is Director of Common Infrastructure Platforms at Comcast and has led the ESP Core Architecture team that’s driving the migration of ESP from WebLogic to the Cloud. Chris has 12+ years’ experience in the technology industry in various roles marked at AstraZeneca, Pfizer, QVC, and Comcast. </p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/sanders200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Corey Sanders</h3>
							<p class='titlecompany'>Partner Director of Product, Azure Compute <span class='companyname'>Microsoft</span></p>
							<p class='smoothwebkit'>Corey Sanders has been a member of the Azure team for 7 years and Microsoft for 12 years. Corey is currently the Partner Director of Product for Azure Compute, responsible for the engineering and business of compute in the Azure team. This includes Windows VMs, Linux VMs, Service Fabric, Event Hub, Service Bus, Batch Computing, and the compute technology supporting large Microsoft services like Bing and O365. </p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/bean200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Jesse Bean</h3>
							<p class='titlecompany'>VP Head of Global Innovation <span class='companyname'>Manulife</span></p>
							<p class='smoothwebkit'>Jesse is a strategic, hardworking and talented leader. His current accountability is to drive innovation throughout the company by leading his LOFT teams globally. He is also responsible for implementing strategic IT change in the Investment Division and group functions in the areas of digital strategy and front office solutions. </p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/blandizzi200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Sebastian Blandizzi</h3>
							<p class='titlecompany'>SVP &amp; CIO <span class='companyname'>Manulife</span></p>
							<p class='smoothwebkit'>A recognized technology leader known for crafting the requisite strategic vision to achieve business goals, Sebastian Blandizzi offers a unique blend of expertise in business strategy enablement, business architecture, software development, software architecture, development life cycle management and global team building. </p>
						</div>
					</div>


					<br/>
					<p class="dateandtime mttenbtwenty">10:00 AM - 11:00 AM</p>

					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/hoeller.jpeg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Juergen Hoeller</h3>
							<p class='titlecompany'>Spring Framework Lead <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Juergen Hoeller is co-founder of the Spring Framework open source project and has been serving as the project lead and release manager for the core framework since 2003. Juergen is an experienced software architect and consultant with outstanding expertise in code organization, transaction management and enterprise messaging.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/rossen246.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Rossen Stoyanchev</h3>
							<p class='titlecompany'>Spring Framework Developer <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>At present, Rossen is a committer on the Spring Framework team with a strong focus on web development including Spring MVC and WebSocket messaging. Previously Rossen consulted and trained Spring teams for several years. He has been involved with Java and web development in various industries and domains since the mid 90s.</p>
						</div>
					</div>
					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/maldini200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Stéphane Maldini</h3>
							<p class='titlecompany'>Project Reactor Lead <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>Lead and core committer of Project Reactor, Stéphane focuses on engineering foundational API and federating efforts around making extremely efficient cloud-ready dataflows.</p>
						</div>
					</div>


					<br/>
					<p class='dateandtime purpleunderline mtten'>Thursday, August 4th</p>
					<p class="dateandtime mttenbtwenty">2:15 PM</p>

					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/mee200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Rob Mee</h3>
							<p class='titlecompany'>Chief Executive Officer <span class='companyname'>Pivotal</span></p>
							<p class='smoothwebkit'>A software engineer by trade, Rob started his career working at an artificial intelligence laboratory in Tokyo, writing natural language translation systems in Lisp. In 1989, Rob founded Pivotal Labs. Over the years, Pivotal Labs has been credited for shaping the software development cultures of some of Silicon Valley’s most influential and valuable companies.</p>
						</div>
					</div>


					<div class='keynotist'>
						<div class='twentyfourwide'>
							<img class="headshotcircle" src='https://d1ophd2rlqbanb.cloudfront.net/speakers/cockcroft200.jpg'></img>
						</div>
						<div class='seventyfivewide'>
							<h3>Adrian Cockcroft</h3>
							<p class='titlecompany'>Technology Fellow <span class='companyname'>Battery Ventures</span></p>
							<p class='smoothwebkit'>Adrian Cockcroft has had a long career working at the leading edge of technology. He’s always been fascinated by what comes next, and he writes and speaks extensively on a range of subjects. At Battery, he advises the firm and its portfolio companies about technology issues and also assists with deal sourcing and due diligence.</p>
						</div>
					</div>
					<br/>

	        <div class='center'>
	        	<div class='cta empty'>
		        	<a href='https://2016.event.springoneplatform.io/presenters'>See All Speakers</a>
	        	</div>
	        </div>

				</div>
			</div>
		</div>
	</body>
</html>



























































