<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head layout:fragment="head"> 
    <link rel="stylesheet" type="text/css" media="all" href="/css/app.css" th:href="@{/css/app.css}" />
    <script src='/js/app.js' th:href="@{/js/app.js}"></script>
    <title>SpringOne Platform | August 1&mdash;4, 2016 | Las Vegas</title>
    <meta content="SpringOne Platform brings together the people, process and tools for delivering and operating software services. Learn and share with the startups and enterprises leveraging modern Java with Spring connecting all the pieces of the modern software puzzle from developer, operator, architect, data scientist to executive." property='og:description'></meta>
    <meta content='https://d1ophd2rlqbanb.cloudfront.net/SpringOne_Platform_300x300.png' property='og:image'></meta>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no' id='Viewport' name='viewport'></meta>
    <link href='/favicon.ico' rel='shortcut icon' type='image/vnd.microsoft.icon' th:href="@{/favicon.ico}" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71210611-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>

  <body>
    <div id='fixedwidthcontainer'>
      <div id='wrap'>
        <div id='header' layout:fragment="header">
          <div class='container'>
            <a href='/' id='logo'>
              <img id='logosmall' src='https://d1ophd2rlqbanb.cloudfront.net/logo-springone.svg'></img>
            </a>
            <div id='navdate'>
              <ul id='nav'>
                <li>
                  <a id='cfp-link' href='/submit'>Call for Proposals</a>
                </li>
                <li>
                  <a download='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf' href='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf'>Sponsor</a>
                </li>
                <li>
                  <a id='training-link' href='/training'>Training</a>
                </li>
                <li>
                  <a id='faq-link' href='/faq'>FAQ</a>
                </li>
                <li>
                  <a href='/2015'>SpringOne2GX 2015</a>
                </li>
              </ul>
              <h4>AUGUST 1–4, 2016  •  ARIA, LAS VEGAS</h4>
            </div>
          </div>
        </div><!--end of header-->
      </div><!--end of wrap-->
      <div id='main'>
          <div layout:fragment="content">
            Content
          </div><!--end of content-->
      </div><!--end of main-->
      <div id='footer'>
        <div class='container'>
          <h4>
            <a href='/faq'>FAQ</a>
            &middot;
            <a href='/submit'>Call for Proposals</a>
            &middot;
            <a download='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf' href='https://d1ophd2rlqbanb.cloudfront.net/SpringOnePlatform_PROSPECTUS.pdf'>Sponsor</a>
            &middot;
            <a href='mailto:platform@pivotal.io'>Contact</a>
            &middot;
            <a href='/code-of-conduct'>Code of Conduct</a>
            &middot;
            <a href='/2015'>SpringOne2GX 2015</a>
          </h4>
          <div id='social'>
            <a href='https://twitter.com/hashtag/springone' target='_blank'>#springone</a>
            <a href='https://twitter.com/@spring1platform' target='_blank'>@spring1platform</a>
            <a href='https://twitter.com/@pivotal' target='_blank'>@pivotal</a>
          </div>
          <h5>
            &copy;
            <script>
              var d = new Date();
              document.write(d.getFullYear());
            </script>
            <a href='http://pivotal.io/' target='_blank'>Pivotal Software</a>, Inc. All rights reserved.
            <a href='http://pivotal.io/terms-of-use' target='_blank'>Terms of Use</a>
            <a href='http://pivotal.io/privacy-policy' target='_blank'>Privacy</a>
          </h5>
        </div>
      </div><!--end of footer-->
    </div>
  </body>
</html>