<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
    	<title>Main Stage Speaker Guidelines | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    	<meta name="robots" content="noindex, nofollow" /> 
    </head>

	<body id='mainstagespeakerguidelines'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Main Stage Speaker Guidelines</h1>
					<p>
					Thank you for agreeing to speak at SpringOne Platform 2016. We have put together this page to give an overview of upcoming deadlines and provide Main Stage details. If you have any questions or concerns regarding your Main Stage presentation, please reach out to the contacts listed below.
					</p>

					<h2>Contacts</h2>
					<p>
						Estelle Hayes
						<br/>
						<a href='mailto:ehayes@pivotal.io'>ehayes@pivotal.io</a>
						<br/>
						C: 408.218.9945
					</p>
					<p>
						Jamie De Martini
						<br/>
						<a href='mailto:jdemartini@pivotal.io'>jdemartini@pivotal.io</a>
						<br/>
						C: 510.928.0600
					</p>
					<h2>Deadlines</h2>
					<ul>
						<li><strong>July 7th</strong>: Register using your code.
						</li>
						<li>
						<strong>July 7th</strong>: Submit travel preference and hotel dates to Kristine Luis (<a href='mailto:kluis@pivotal.io'>kluis@pivotal.io</a>).
						</li>
						<li>
						<strong>August 1st</strong>: Sign and return the Recording / Publication <a href='https://drive.google.com/a/pivotal.io/file/d/0B7akieR6dYsuY2c1YWd5anJBTnplaTRDQ0RaNlNaeFNpUl80/view' target="_blank">Waiver</a> (non Pivotal speakers only).
						</li>
						<li>
						<strong>August 1st-4th</strong>: Main Stage rehearsals are in the Pinyon Ballroom (1st floor). If you don’t know your rehearsal time, please contact Jamie De Martini (<a href='mailto:jdemartini@pivotal.io'>jdemartini@pivotal.io</a>).
						</li>
					</ul>

					<h2>Registration</h2>
					<p>
					Please use the speaker code for your complimentary pass.  Contact Jamie De Martini (<a href='mailto:jdemartini@pivotal.io'>jdemartini@pivotal.io</a>) if you did not recieve a code or have questions.
					</p>


					<h2>Travel and Hotel</h2>
					<p>
					Please submit your preferred flights and hotel dates to Kristine Luis (<a href='mailto:kluis@pivotal.io'>kluis@pivotal.io</a>) by <strong>July 7th</strong>.  The conference hotel is the <a href='https://www.aria.com' target='_blank'>Aria Resort and Casino</a> in Las Vegas, NV.
					</p>

					<h2>Transportation</h2>
					<ul>
						<li><strong>Parking at the Aria</strong>: <a href='https://d1ophd2rlqbanb.cloudfront.net/parking-pocket-guide.pdf' target="_blank">Guide</a>
						</li>
						<li>
						<strong>Taxi</strong>: Tell the taxi driver you’d like the “cheapest route not fastest.” Specifically, if they want to take you via the highway, you'll be paying more than needed.
						</li>
						<li>
						<strong>Uber/Lyft</strong>: <a href='https://www.mccarran.com/Go/RideShare.aspx' target="_blank">Ridesharing</a> services can now also pick up from the LAS airport 
						</li>
					</ul>



					<h2>Agenda &amp; Schedule</h2>
					<p>
					Pivotal will notify all speakers via email when the schedule is finalized.
					</p>

					<h2>Rehearsal</h2>
					<p>
					Rehearsal schedule will be sent out in a separate email. 
					</p>
					<p>
						If you have not received your rehearsal time please contact Jamie De Martini (<a href='mailto:jdemartini@pivotal.io'>jdemartini@pivotal.io</a>).
					</p>

					<h2>Recording / Publication Waiver</h2> 
					<p>
					If you do not work for Pivotal Software Inc, please sign the required <a href='https://drive.google.com/file/d/0B7akieR6dYsuY2c1YWd5anJBTnplaTRDQ0RaNlNaeFNpUl80/view?usp=sharing'  target="_blank">recording waiver</a>, as all presentations will be recorded and published on YouTube and InfoQ.com. Please return signed waivers to Jamie De Martini (<a href='mailto:jdemartini@pivotal.io'>jdemartini@pivotal.io</a>) before your session.  
					</p>

					<h2>Presenter Support</h2>
					<ul>
						<li>Demo table - as needed</li>
						<li>Slide deck wireless eueing system (slide advancement) </li>
						<li>Internet access </li>
						<li>Water bottles </li>
						<li>Four (4) 55” downstage monitors displaying slide deck content  (Current/Current or Current/Notes)</li>
						<li>(2) Digital display speaker timers </li>
					</ul>

					<h2>Content Screen Size</h2>
					<ul>
						<li>(2 screens) The screens are in 3:1 aspect ratio measuring 17’x51’, but we will PIP 16:9 aspect ratio content slides which will be 17’x30’.</li>
					</ul>

					<h2>Video Dimensions and Format</h2>
					<p>
						Created in 16:9 aspect ratio – The preferred format for content production is Apple ProRes HD or Apple ProRes H.264. @ 1920x1080, 29.97fps.
					</p>

					<h2>Audio Support</h2>
					<p>
						All presenters will have access to a wireless microphone and be pre-mic’d and sound checked backstage prior to starting. Additional hand held microphones are available for any Q&amp;A and back up as necessary.
					</p>

					<h2>Lighting Support</h2>
					<p>
						The Main Stage will be complemented with a complete theatrical lighting system including color changing ability allowing for custom lighting effects for walk-in, presentations and transitions. It is anticipated that each presenter can have a distinct lighting environment.
					</p>

					<h2>Video Support</h2>
					<p>
						The Main Stage screens are supported by a complete state of the art projection, switching, playback and record system with redundant equipment throughout.  The video switching system can switch between multiple sources including:
					</p>
					<ul>
						<li>Speaker Support Graphics Computer</li>
						<li>Video Playback System (please refer to video dimensions and format above)</li> 
						<li>Internet Connections  - direct connect as requested</li>
					</ul>
					<p>In addition to switching between multiple sources for presentations and demos, there are two (3) production cameras in the room that could also be switched to the screens and provide Image Magnification of the speakers on stage (I-Mag).
					</p>

					<h2>Recommended Attire</h2>
					<ul>
						<li>Button down shirt is best to clip microphones onto; no crew neck t-shirts</li> 
						<li>Avoid white or striped shirts </li>
						<li>No loose necklaces and/or jewelry which may interfere with a lapel clip mic </li>
						<li>Pants are recommended for connecting and clipping your wireless microphone receiver </li>
						<li>If a dress is worn, please wear slim belt under the dress to clip on the microphone receiver</li>
						<li>Please remove lanyard name badge before your stage presentation </li>
						<li>Turn off personal mobile devices prior to your stage presentation</li>
					</ul>


					<h2>Visa Letter Requests</h2>
					<p>
					If you require a visa letter, please contact us at <a href='mailto:platform@pivotal.io'>platform@pivotal.io</a> immediately.
					</p>

					<h2>Promoting Your Talk</h2>
					<p>
					We greatly appreciate you speaking at SpringOne Platform 2016 and hope that you'll help us out in spreading the word about the event and your presentation. Promotion from speakers - you! - is one of the most valuable, effective ways to raise interest in your talk. 
					</p>
					<p>
					Here are some updates you could send out on social media:
					</p>
					<ul>
					<li><strong>Twitter:</strong> August 1-4  I'll be @Spring1Platform, speaking on [4 to 6 words about your talk]. Get your ticket: <a href='https://springoneplatform.io/'>https://springoneplatform.io/</a> #S1P</li>
					<li><strong>Facebook/LinkedIn:</strong> August 1 - 4 I'll be presenting a talk about [a sentence on your talk] at SpringOne Platform in Las Vegas. Get your ticket to see it live: <a href='https://springoneplatform.io/'>https://springoneplatform.io/</a> </li>
					</ul>

					<h2>Questions</h2>
					<p>
					We will be sending out final logistical details one week prior to the conference.  If you have any questions about the event or your speaking details, please do not hesitate to email Estelle Hayes (<a href='mailto:ehayes@pivotal.io'>ehayes@pivotal.io</a>) or Jamie De Martini (<a href='mailto:jdemartini@pivotal.io'>jdemartini@pivotal.io</a>).
					</p>

				</div>
			</div>
		</div>
	</body>
</html>