<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout2015">

	<body id='sponsors'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Sponsors</h1>
					<h5>PLATINUM PLUS SPONSORS</h5>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://pivotal.io' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-pivotal.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Pivotal is a trusted partner for IT innovation and digital transformation, enabling enterprises to provide modern software-driven experiences for their customers and workforces. The combination of leading agile development services, an open cloud platform and open suite of big data products accelerate innovation cycles for our customers across every industry.
					</div>
					</div>
					</div>
					<br/>
					<h5>GOLD PLUS SPONSORS</h5>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.ociweb.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/OCI-logo.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					We are software engineers. We build high performance, real-time, mission critical middleware systems and integration solutions. Our goal is to make solutions more open, scalable, reusable, interoperable, and affordable. Please visit
					<a href='http://www.ociweb.com'>www.ociweb.com</a>
					to learn more about our engineering services, open source middleware technologies, and professional IT training.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.softwareag.com/corporate/default.asp' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-software-ag.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Software AG helps organizations achieve their business objectives faster. Building on more than 40 years of customer-centric innovation, the company is ranked as a leader in more than a dozen market categories, fueled by core product families - Adabas-Natural, Alfabet, Apama, ARIS, Terracotta, and webMethods. Software AG’s Terracotta In-Memory Data Management Platform is the first-choice platform for distributed in-memory data management, with extremely low, predictable latency at any scale. This platform and its open source offerings are being showcased at Spring One.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.vmware.com' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/vmware.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Digital business transformation is creating new opportunities and risks in every industry. VMware helps IT become Brave New IT with our One Cloud, Any Application, Any Device architecture. By unifying private, managed and public clouds into one hybrid cloud, our customers accelerate innovation, engage customers with new mobile-cloud applications, and govern risk.
					</div>
					</div>
					</div>
					<br/>
					<h5>GOLD SPONSORS</h5>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.appdynamics.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2014/images/sponsors/appdynamics.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					At AppDynamics, our Application Intelligence Platform empowers today’s software-defined businesses with the ability to proactively monitor, manage, and optimize the most complex software environments. All in real time, and all in production. So at every point in time, you can know more, and know it faster. It’s more than monitoring—it’s true Application Intelligence.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.broadleafcommerce.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/broadleaf.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Broadleaf Commerce provides companies with the agility necessary to lead in an evolving eCommerce market. Open source, Java-based, disruptively priced, and designed for endless customization and integration, Broadleaf powers enterprise eCommerce platform solutions for top brands including The Container Store, PepBoys, Ganz and Vology. Prepare for tomorrow’s market today.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.craftersoftware.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-crafter.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Crafter Software enables the creation of content rich applications for websites, web apps, mobile apps, and all other multi-channel digital experiences. Crafter Software’s solutions are based on the award-winning Crafter CMS open source project which leverages today's most modern Java development components including Spring, Groovy, MongoDB and Solr.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='https://hazelcast.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-hazelcast.jpg'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Simple is beautiful. Hazelcast is an open source, dead-simple clustering solution. With its various distributed data structures, distributed caching capabilities, elastic nature, integration with Spring and Hibernate and more importantly so many happy users, Hazelcast is feature-rich, enterprise-ready and developer-friendly in-memory data grid solution.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='https://www.jetbrains.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/jetbrains.jpg'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					JetBrains is passionate about making developers and teams more productive. IntelliJ IDEA, our flagship Java IDE, provides best-in-class support for enterprise, mobile and web development. We also offer Upsource—a new repository browser and code review tool, TeamCity—a Continuous Integration and Deployment server, and YouTrack—an intelligent issue tracking and agile project management system.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.jfrog.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2014/images/sponsors/jfrog.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					JFrog’s mission is to provide the best technologies and tools for daily use that will maximize the effectiveness of the software development cycle. JFrog’s core values are based on non-compromising professional standards, superior quality code, first-class service, strong customer relationships, mutual trust and integrity.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://newrelic.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-newrelic.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					New Relic is a software analytics company that makes sense of billions of data points about millions of applications in real time. New Relic’s comprehensive SaaS-based solution provides one powerful interface for web and native mobile applications and consolidates the performance monitoring data for any chosen technology in your environment. Learn more at newrelic.com.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.nttdata.com/global/en/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-nttdata.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					NTT DATA was launched in 1967 by the DATA Communications Bureau of the government-owned NIPPON TELEGRAPH AND TELEPHONE PUBLIC CORPORATION. NTT DATA is uniquely positioned in the NTT Group to handle the IT services business, and for nearly half a century has been contributing to the development of Japan’s IT society.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://www.target.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/logo-target.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					Minneapolis-based Target Corporation (NYSE: TGT) serves guests at 1,795 stores and at <a href='http://www.target.com'>Target.com</a>. Since 1946, Target has given 5 percent of its profit to communities, that giving equals more than $4 million a week. For more information, visit <a href='http://www.target.com/pressroom'>Target.com/Pressroom</a>. For a behind-the-scenes look at Target, visit <a href='http://www.target.com/abullseyeview'>Target.com/abullseyeview</a> or follow <a href='http://www.twitter.com/targetnews'>@TargetNews</a> on Twitter.
					</div>
					</div>
					</div>
					<br/>
					<div class='sponsor-container'>
					<div class='sponsor'>
					<a href='http://zeroturnaround.com/' target='_blank'>
					<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/2015/sponsors/zeroturnaround.png'></img>
					</a>
					</div>
					<div class='sponsor-description-container'>
					<div class='arrow-up'></div>
					<div class='sponsor-description'>
					ZeroTurnaround makes revolutionary developer tools for creating higher quality software faster.  ZeroTurnaround’s award winning products, JRebel and XRebel, will change the way you code forever. More than 65,000 developers use JRebel to skip the build and redeploy process, fully integrated with Spring Framework. XRebel is a lightweight Java Profiler.
					</div>
					</div>
					</div>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</body>
</html>
