<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Pre-Conference Training</h1>
					<div class='training'>
						<p>
						Pivotal Education offers a series of accelerated, hands-on training workshops prior to the SpringOne Platform conference. Sessions are scheduled two full days before the conference begins and provides you with an exclusive opportunity to receive in-depth training on some of the latest Pivotal technologies.
						</p>
						<p>
						<u>What's in it for me</u>
						</p>
						<ul>
						<li>Hands-on, interactive Pivotal training content delivered at an accelerated rate and lower cost</li>
						<li>Opportunity to network with expert instructors and technology enthusiasts</li>
						<li>Ability to save valuable time and money by adding training to your SpringOne Platform registration</li>
						<li>Expanded SpringOne Platform experience</li>
						</ul>
						<p><u>When</u></p>
						<ul>
						<li>Sunday, July 31st&mdash;Monday, August 1st</li>
						<li>All courses run from 9:00 AM&mdash;5:00 PM both days. Sessions will not overlap with any conference activities.</li>
						</ul>
						<p><u>Expectations</u></p>
						<ul>
							<li>All courses include hands-on labs and require attendees to provide their own laptop</li>
							<li>Laptops should include all necessary hardware and software already installed; A list of “technical requirements” is available within each the course description</li>
						</ul>
						<p>
						<u>Pricing &amp; Registration</u>
						</p>
						<ul>
						<li>Training workshops start at $500 per student.</li>
						<li>Your preferred workshop can be selected during registration for SpringOne Platform.  Space is limited.</li>
						</ul>
						<p>
						Please
						<a href='mailto:education@pivotal.io'>email the education team</a>
						with any questions.
						</p>
						<br/>
						<hr/>
						<br/>
						<p>COURSES</p>
						<ul>
							<li><a href='#developing-applications-with-cloud-foundry'>Developing Applications with Cloud Foundry</a></li>
							<li><a href='#building-the-connected-car'>Building the Connected Car</a></li>
							<li><a href='#spring-cloud-services'>Spring Cloud Services</a></li>
							<li><a href='#spring-boot-primer'>Spring Boot Primer</a></li>
						</ul>
						<h2 id='developing-applications-with-cloud-foundry'>
						Developing Applications with Cloud Foundry
						</h2>
						<p>
						<u>Course Description</u>
						<br/>
						This 2-day workshop is designed for application developers responsible for working with and deploying deploy Java/Spring applications on Cloud Foundry. Students will gain familiarity in CF concepts (applications, buildpacks, manifests, organizations, spaces, users, roles, domains, routes, services), how to push applications to CF (various languages), services, user provided services, manifests, YAML, environment variables, autoconfiguration, and logging.
						</p>
						<p><u>In this course, students will receive:</u></p>
						<ul>
						<li>Hands-on experience using Pivotal Web Services, the local command line interface, and the STS CF plugin.</li>
						<li>Hands-on experience in pushing apps to CF, accessing logs, scaling.</li>
						<li>An understanding of the marketplace services and experience with one or more examples.</li>
						<li>An understanding of Spring application development in the cloud, such as auto-configuration and Spring Cloud.</li>
						<li>An introduction on internal Cloud Foundry architecture.</li>
						</ul>
						<p>
						This course does not teach topics related to installation and administration of the Pivotal Cloud Foundry environment itself.</p>
						<p>	<u>Workshop Topics</u></p>
						<ul>
						<li>Overview of CF</li>
						<li>Getting Started using STS</li>
						<li>CF concepts</li>
						<li>Getting Started using CLI</li>
						<li>Development (logging, debugging, environment variables, manifests)</li>
						<li>Services</li>
						<li>Buildpacks</li>
						<li>CF Internals (Router, Cloud Controller, etc.)</li>
						<li>Spring and Cloud Applications (Spring IO, Spring Boot, Spring Cloud)</li>
						</ul>
						<p><u>Target Audience</u></p>
						<ul>
						<li>Application developers seeking hands-on experience using Spring to create, deploy, manage, and scale applications in Cloud Foundry.</li>
						</ul>
						<p><u>Pre-requisites</u></p>
						<ul>
						<li>Java / Spring development knowledge.</li>
						<li>Basic IT / computer science knowledge, high-level familiarity with web application architecture, from either a developer or administrator’s perspective.</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
						<li>Able to install software on their laptops</li>
						<li>A GitHub account highly recommended (labs are performed using GitHub files)</li>
						<li>Unfettered internet access to common development sites is required (eg. <a href='http://run.pivotal.io/'>http://run.pivotal.io</a>, <a href='http://spring.io'>http://spring.io</a>, <a href='http://github.com'>http://github.com</a>, etc).</li>
						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='building-the-connected-car'>Building the Connected Car</h2>
						<p><u>Course Description</u></p>
						<p>
						At one of the recent Spring One events, many folks were introduced to the Connected Car demo, a demonstration of a solution built with Pivotal products aimed at the Internet of Things. This 2-day workshop will allow attendees to walk through the architectural components getting a chance to build various parts of the architecture. At the end of the workshop, attendees will understand where various technologies can fit architecturally as well as a basic understanding of how to implement those technologies in a solution.
						</p>
						<p><u>In this course, students will:</u></p>
						<ul>
						<li>
						Set up a Spring XD Stream and transforms to process the raw data
						</li>
						<li>
						Set up GemFire to receive real-time data from the stream
						</li>
						<li>
						Land data in HDFS for analytic processing
						</li>
						<li>
						Explore data science and analytics concepts
						</li>
						<li>
						Explore and write analytics using Pivotal HDB and/or Pivotal Greenplum
						</li>
						</ul>
						<p><u>Workshop Topics</u></p>
						<ul>
						<li>
						 Introduction to the Connected Car
						</li>
						<li>
						Overview of Spring XD
						</li>
						<li>
						Creating custom Spring XD streams
						</li>
						<li>
						Introduction to in-memory with Pivotal GemFire
						</li>
						<li>
						Introduction to analytics
						</li>
						<li>
						Overview of Pivotal HDB
						</li>
						<li>
						Performing analytics with HDB
						</li>
						</ul>
						<p><u>Pre-requisites</u></p>
						<ul>
						<li>
						Basic understanding of Hadoop
						</li>
						<li>
						Some familiarity with various data storage technologies
						</li>
						<li>
						Familiarity with running basic OS commands from a shell/command-prompt
						</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
						<li>
						VirtualBox installed - or ability to install VirtualBox
						</li>
						<li>
						7Zip installed or ability to install
						</li>
						<li>
							6GB available RAM &amp; 60GB free disk space to run the VM
						</li>
						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='spring-cloud-services'>Spring Cloud Services</h2>
						<p><u>Course Description</u></p>
						<p>
						This hands-on training course will show you how to leverage Spring Cloud projects to build Cloud Native applications.  We'll focus on the Spring Cloud Config and Spring Cloud Netflix projects, study the concepts behind Cloud Native Applications, and cover these specific topics:
						</p>
						<ul>
							<li>Why build cloud native applications?</li>
							<li>Spring Boot Overview</li>
							<li>Configuration as a Service</li>
							<li>Service Discovery with Eureka</li>
							<li>Load Balancing with Ribbon</li>
							<li>Applying Circuit Breakers in your Microservices with Hystrix</li>
						</ul>
						<p><u>Target Audience</u></p>
						<ul>
						<li>
						Software developers with interest in learning how to construct cloud-native applications using the Spring Cloud family of projects.
						</li>
						</ul>
						<p><u>Pre-requisites</u></p>
						<p>
						Basic familiarity with the following:
						</p>
						<ul>
							<li>Spring Framework</li>
							<li>Git &amp; GitHub</li>
							<li>Cloud Foundry experience a plus</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
							<li>Java (JDK), Maven, git, curl and your favorite IDE installed</li>
							<li>Pivotal Cloud Foundry CLI installed</li>
							<li>Access to github account</li>
						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='spring-boot-primer'>Spring Boot Primer</h2>
						<p><u>Course Description</u></p>
						<p>
						The Spring Framework is one of the most used Java Frameworks around the open source and enterprise communities that promotes an easy way to develop applications by giving the developer the facility to focus on the application business logic without worrying on how to connect components to a new or existing technologies.
						</p>
						<p>
						Spring Boot is the next chapter of the Spring Framework; where through this course you will develop a foundation for creating enterprise-ready applications by using this technology and all its enterprise ready features, from zero configuration files, faster development to easy deployment.
						</p>
						<p>
						Upon completion of this course, participants will have a solid working understanding of developing Spring Boot applications.
						</p>
						<p><u>Topics</u></p>
						<ul>
						<li>Spring vs. Spring Boot</li>
						<li>Spring Boot CLI</li>
						<li>Web Development</li>
						<li>Data Access</li>
						<li>Testing</li>
						<li>Security</li>
						<li>Deployment</li>
						<li>Actuator</li>
						<li>Microservices and Cloud</li>
						</ul>
						<p><u>Target Audience</u></p>
						<p>
						Developers looking to get familiar with the new Spring Boot technology.
						</p>
						<p><u>Pre-requisites</u></p>
						<p>
						Spring Framework experience. Presumes foundational understanding of Spring.
						</p>
						<p><u>Technical Requirements</u></p>
						<p>Java 1.8 installed</p>
					</div>
					<div class='center'>
						<div class='cta'>
							<a href='/register'>Register</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>