<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
    	<title>Training | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='training'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Pre-Conference Training</h1>
					<div class='training'>
						<p>
						Pivotal Education offers a series of accelerated, hands-on training workshops prior to the SpringOne Platform conference. Sessions are scheduled two full days before the conference begins and provides you with an exclusive opportunity to receive in-depth training on some of the latest Pivotal technologies.
						</p>
						<p>
						<u>What's in it for me</u>
						</p>
						<ul>
						<li>Hands-on, interactive Pivotal training content delivered at an accelerated rate and lower cost</li>
						<li>Opportunity to network with expert instructors and technology enthusiasts</li>
						<li>Ability to save valuable time and money by adding training to your SpringOne Platform registration</li>
						<li>Expanded SpringOne Platform experience</li>
						</ul>
						<p><u>When</u></p>
						<ul>
						<li>Sunday, July 31st&mdash;Monday, August 1st</li>
						<li>All courses are two full days</li>
						<li>All courses run from 9:00 AM&mdash;5:00 PM both days. Sessions will not overlap with any conference activities.</li>
						</ul>
						<p><u>Expectations</u></p>
						<ul>
							<li>All courses include hands-on labs and require attendees to provide their own laptop</li>
							<li>Laptops should include all necessary hardware and software already installed; A list of “technical requirements” is available within each the course description</li>
						</ul>
						<p>
						<u>Pricing &amp; Registration</u>
						</p>
						<ul>
						<li>Training workshops are now $600 per student.</li>
						<li>Your preferred workshop can be selected during registration for SpringOne Platform.  Space is limited.</li>
						<li>Training registration ends on July 22nd.</li>
						</ul>
						<p>
						Please
						<a href='mailto:education@pivotal.io'>email the education team</a>
						with any questions.
						</p>
						<br/>
						<hr/>
						<br/>
						<p>COURSES</p>
						<ul>
							<li><a href='#developing-applications-with-cloud-foundry'>Developing Applications with Cloud Foundry</a> [SOLD OUT]</li>
							<li><a href='#building-big-data-solutions'>Building Big Data Solutions</a></li>
							<li><a href='#spring-cloud-services'>Spring Cloud Services</a> [SOLD OUT]</li>
							<li><a href='#spring-boot-primer'>Spring Boot Primer</a></li>
							<li><a href='#spring-cloud-data-flow'>Spring Cloud Data Flow</a></li>
						</ul>
						<h2 id='developing-applications-with-cloud-foundry'>
						Developing Applications with Cloud Foundry [SOLD OUT]
						</h2>
						<p>
						<u>Course Description</u>
						<br/>
						This 2-day workshop is designed for application developers responsible for working with and deploying deploy Java/Spring applications on Cloud Foundry. Students will gain familiarity in CF concepts (applications, buildpacks, manifests, organizations, spaces, users, roles, domains, routes, services), how to push applications to CF (various languages), services, user provided services, manifests, YAML, environment variables, autoconfiguration, and logging.
						</p>
						<p><u>In this course, students will receive:</u></p>
						<ul>
						<li>Hands-on experience using Pivotal Web Services, the local command line interface, and the STS CF plugin.</li>
						<li>Hands-on experience in pushing apps to CF, accessing logs, scaling.</li>
						<li>An understanding of the marketplace services and experience with one or more examples.</li>
						<li>An understanding of Spring application development in the cloud, such as auto-configuration and Spring Cloud.</li>
						<li>An introduction on internal Cloud Foundry architecture.</li>
						</ul>
						<p>
						This course does not teach topics related to installation and administration of the Pivotal Cloud Foundry environment itself.</p>
						<p>	<u>Workshop Topics</u></p>
						<ul>
						<li>Overview of CF</li>
						<li>Getting Started using STS</li>
						<li>CF concepts</li>
						<li>Getting Started using CLI</li>
						<li>Development (logging, debugging, environment variables, manifests)</li>
						<li>Services</li>
						<li>Buildpacks</li>
						<li>CF Internals (Router, Cloud Controller, etc.)</li>
						<li>Spring and Cloud Applications (Spring IO, Spring Boot, Spring Cloud)</li>
						</ul>
						<p><u>Target Audience</u></p>
						<ul>
						<li>Application developers seeking hands-on experience using Spring to create, deploy, manage, and scale applications in Cloud Foundry.</li>
						</ul>
						<p><u>Pre-requisites</u></p>
						<ul>
						<li>Java / Spring development knowledge.</li>
						<li>Basic IT / computer science knowledge, high-level familiarity with web application architecture, from either a developer or administrator’s perspective.</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
						<li>Able to install software on their laptops</li>
						<li>A GitHub account highly recommended (labs are performed using GitHub files)</li>
						<li>Unfettered internet access to common development sites is required (eg. <a href='http://run.pivotal.io/'>http://run.pivotal.io</a>, <a href='http://spring.io'>http://spring.io</a>, <a href='http://github.com'>http://github.com</a>, etc).</li>
						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='building-big-data-solutions'>Building Big Data Solutions</h2>
						<p><u>Course Description</u></p>
						<p>
						Many of today’s enterprises are facing the explosion of data collected and stored as streams of data are produced from a myriad of connected devices, often referred to as the Internet of Things (IoT). This 2-day workshop will examine the problem and offer an architecture for collecting, storing and analyzing massive streams of data. In the workshop, attendees will walk through the architectural components getting a chance to build various parts of the architecture. At the end of the workshop, attendees will understand where various technologies can fit architecturally as well as gain a basic understanding of how to implement those technologies in a solution.
						</p>
						<p><u>In this course, students will:</u></p>
						<ul>
						<li>
						Set up a Spring Cloud Data Flow Stream and transforms to process the raw data
						</li>
						<li>
						Set up GemFire to receive real-time data from the stream
						</li>
						<li>
						Land data in HDFS for analytic processing
						</li>
						<li>
						Explore data science and analytics concepts
						</li>
						<li>
						Explore and write analytics using Pivotal HDB
						</li>
						</ul>
						<p><u>Workshop Topics</u></p>
						<ul>
						<li>
						Internet of Things and Big Data
						</li>
						<li>
						Overview of Spring Cloud Data Flow (formerly Spring XD)
						</li>
						<li>
						Creating custom Spring Cloud Data Flow streams
						</li>
						<li>
						Introduction to in-memory with Pivotal GemFire
						</li>
						<li>
						Introduction to analytics
						</li>
						<li>
						Overview of Pivotal HDB
						</li>
						<li>
						Performing analytics with HDB
						</li>
						</ul>
						<p><u>Target Audience</u></p>
						<ul>
							<li>Developers</li>
							<li>Architects</li>
							<li>Analysts</li>
						</ul>
						<p><u>Pre-requisites</u></p>
						<ul>
						<li>
						Basic understanding of Hadoop
						</li>
						<li>
						Some familiarity with various data storage technologies
						</li>
						<li>
						Familiarity with running basic OS commands from a shell/command-prompt
						</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
						<li>
						<a href='https://my.vmware.com/web/vmware/free#desktop_end_user_computing/vmware_player/5_0%7CPLAYER-504%7Cproduct_downloads' target='_blank'>VMware Player</a> (Windows/Linux) or <a href='http://www.vmware.com/products/fusion/fusion-evaluation.html' target='_blank'>VMware Fusion</a> (Mac) 
						</li>
						<li>
						7Zip installed or ability to install
						</li>
						<li>
							8GB free memory, quad-core processor and 60GB of free disk space for the VM to run
						</li>
						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='spring-cloud-services'>Spring Cloud Services [SOLD OUT]</h2>
						<p><u>Course Description</u></p>
						<p>
						This 2-day hands-on training course will show you how to leverage Spring Cloud projects to build Cloud Native applications.  We'll focus on the Spring Cloud Config and Spring Cloud Netflix projects, study the concepts behind Cloud Native Applications, and cover these specific topics:
						</p>
						<ul>
							<li>Why build Cloud Native applications?</li>
							<li>Spring Boot Overview</li>
							<li>Microservices, PaaS and Cloud Native Design</li>
							<li>Configuration as a Service</li>
							<li>Service Discovery with Eureka</li>
							<li>Load Balancing with Ribbon</li>
							<li>Applying Circuit Breakers in your Microservices with Hystrix</li>
						</ul>
						<p><u>Target Audience</u></p>
						<ul>
						<li>
						Software developers with interest in learning how to construct cloud-native applications using the Spring Cloud family of projects.
						</li>
						</ul>
						<p><u>Pre-requisites</u></p>
						<p>
						Basic familiarity with the following:
						</p>
						<ul>
							<li>Spring Framework</li>
							<li>Git &amp; GitHub</li>
							<li>Cloud Foundry experience a plus</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
							<li>Java (JDK), Maven, git, curl and your favorite IDE installed</li>
							<li>Pivotal Cloud Foundry CLI installed</li>
							<li>Access to GitHub account</li>
							<li>A working Pivotal Web Services account</li>
						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='spring-boot-primer'>Spring Boot Primer</h2>
						<p><u>Course Description</u></p>
						<p>
						The Spring Framework is one of the most used Java Frameworks around the open source and enterprise communities that promotes an easy way to develop applications by giving the developer the facility to focus on the application business logic without worrying on how to connect components to a new or existing technologies.
						</p>
						<p>
						Spring Boot is the next chapter of the Spring Framework. In this two day course, you will develop a foundation for creating enterprise-ready applications by using this technology and all its enterprise ready features, from zero configuration files, faster development to easy deployment.
						</p>
						<p>
						Upon completion of this course, participants will have a solid working understanding of developing Spring Boot applications.
						</p>
						<p><u>Topics</u></p>
						<ul>
						<li>Spring vs. Spring Boot</li>
						<li>Spring Boot CLI</li>
						<li>Web Development</li>
						<li>Data Access</li>
						<li>Testing</li>
						<li>Security</li>
						<li>Messaging</li>
						<li>Deployment</li>
						<li>Actuator</li>
						<li>Microservices and Cloud</li>
						<li>More Features</li>
						</ul>
						<p><u>Target Audience</u></p>
						<p>
						Developers looking to get familiar with the new Spring Boot technology.
						</p>
						<p><u>Pre-requisites</u></p>
						<p>
						Spring Framework experience. Presumes foundational understanding of Spring.
						</p>
						<p><u>Technical Requirements</u></p>
						<ul>
							<li>Java 1.8 installed</li>
							<li>GitHub account</li>
							<li>Maven / Gradle installed</li>
							<li>[Optional] <a href='https://run.pivotal.io'>PWS</a> account (Trial account)</li>
							<li>[Optional] <a href='https://github.com/cloudfoundry/cli#downloads'>Cloud Foundry CLI</a></li>
							<li>[Optional] <a href='https://network.pivotal.io/products/pcfdev'>PCFDev</a> installed</li>

						</ul>
						<br/>
						<hr/>
						<br/>
						<h2 id='spring-cloud-data-flow'>Spring Cloud Data Flow (formerly Spring XD)</h2>
						<p><u>Course Description</u></p>
						<p>
						This 2-day workshop is designed for developers and architects responsible for leveraging Spring Cloud Data Flow for data ingestion in a Cloud environment. Through hands-on labs, the course explores installation and administration of Spring Cloud Data Flow, usage of the Spring Cloud Data Flow Shell, creating, configuring, deploying, and scaling Spring Cloud Streams and jobs and the development of custom modules using Spring Boot microservices. Students will learn how to configure the product for various deployment scenarios.
						</p>
						<p>
						In this course, students will:
						</p>
						<ul>
						<li>Learn how to install Spring Cloud Data Flow</li>
						<li>Understand Spring Cloud Data Flow architecture</li>
						<li>Create and leverage Spring Cloud Streams</li>
						<li>Create and leverage Spring Cloud Tasks</li>
						<li>Customize Spring Cloud Streams modules</li>
						<li>Understand Spring Cloud high-availability</li>
						<li>Learn how to manage and monitor Spring Cloud Data Flow</li>
						</ul>
						<p><u>Topics</u></p>
						<ul>
						<li>Introduction to Spring Cloud Data Flow</li>
						<li>Installation</li>
						<li>Architecture</li>
						<li>Introduction to Streams</li>
						<li>Customizing Stream Modules with Spring Boot Microservices</li>
						<li>Introduction to Tasks</li>
						<li>Customizing Task Modules</li>
						<li>Spring Cloud Data Flow High Availability</li>
						</ul>
						<p><u>Target Audience</u></p>
						<p>
						Developers who want to learn how to ingest, transform, and process large volumes of data from a diverse set of sources, into various target datastores.
						</p>
						<p><u>Pre-requisites</u></p>
						<ul>
						<li>Basic Java development skills, including ability to run Apache Maven commands</li>
						<li>Some familiarity with various data storage technologies</li>
						<li>Familiarity with running basic OS commands from a shell/command-prompt</li>
						</ul>
						<p><u>Technical Requirements</u></p>
						<ul>
						<li>JDK 8 or later installed</li>
						<li>Apache Maven installed</li>
						<li><a href='https://network.pivotal.io/products/pcfdev'>PCFDev</a> installed</li>
						<li>Ability to 
							<ul>
								<li>Install and run a single-node instance of Apache Hadoop, or</li>
								<li>Run a local VM instance using VirtualBox (VM to be provided)</li>
							</ul>
						</li>
						</ul>
					</div>
					<br/>
<!-- 					<div class='center'>
						<div class='cta'>
							<a href='/register'>Register</a>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</body>
</html>