<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
    	<title>Travel | SpringOne Platform | August 1 - 4, 2016 | Las Vegas</title>
    </head>

	<body id='travel'>

    <div layout:fragment="content">
			<div class='content'>
				<div class='container'>
					<h1>Travel</h1>
					<h2>Hotel</h2>
					<p>The conference takes place at the Aria Resort &amp; Casino – Las Vegas:</p>
					<p>
						3730 S Las Vegas Blvd
						<br/>
						Las Vegas, NV 89158
						<br/>
						(702) 590-7111
						<br/>
						<a href='https://www.aria.com' target='_blank'>Website</a>
					</p>
					<h2>Hotel Reservations</h2>
					<p>You must book before <strong>June 24th</strong> and use the link provided below to receive the SpringOne Platform guaranteed lowest rate starting at $169 plus tax and a $28 resort fee.  To get this rate, make reservations <a href='https://aws.passkey.com/event/14801722/owner/1464789/home' target='_blank'>online</a> or by calling (866) 359-7757 and mentioning <em>SpringOne Platform</em>. </p>
					<div class='cta'>
						<a href='https://aws.passkey.com/event/14801722/owner/1464789/home' target='_blank'>Book Now</a>
					</div>
					<h2>Group Rate Included Amenities</h2>
					<ul>
						<li>In-room internet</li>
						<li>Local and toll-free number phone calls</li>
						<li>Access to The Spa at Aria Fitness Center</li>
						<li>Daily newspaper</li>
						<li>Airline boarding pass printing</li>
					</ul>
					<h2>Hotel Cancellation Policy</h2>
					<p>Cancellations are allowed up to seventy-two (72) hours prior to arrival without penalty. Cancellations within seventy-two (72) hours of the scheduled arrival date or failure to check in will be charged one night’s room and tax to the credit card provided at the time of booking.</p>
					<h2>Early Departures</h2>
					<p>The Aria allows guests to revise their departure date at check-in with no fee; however, once checked in, early departures will be charged in full for all nights of the reservation.</p>
					<h2>Check-In/Check-Out Times</h2>
					<p>Check-in time starts at 3:00 pm. Check-out time is 11:00 am.</p>
					<h2>Parking</h2>
					<p>There is a parking garage accessed by turning onto CityCenter place from Las Vegas Boulevard. In addition, valet service is available at both the Main Valet, off of Las Vegas Boulevard, as well as the North  Valet, off of Harmon Avenue. <a href='https://d1ophd2rlqbanb.cloudfront.net/parking-pocket-guide.pdf'>More parking options here</a>.</p>
					<h2>Directions</h2>
					<p>Driving directions available <a href='https://www.aria.com/en/contact-us.html#/Details' target='_blank'>here</a>.</p>
					<h2>Handicapped Accessibility</h2>
					<p>This hotel has certified compliance with the Americans with Disabilities Act (ADA). Accessible facilities are available for the blind, hearing impaired, and wheelchair users.</p>
				</div>
			</div>
		</div>
	</body>
</html>